node_modules
package-lock.json
dist
assets
# Remove the lines below and commit the Storybook assets if your build system
# does not allow to run NodeJS scripts.
storybook-static/**/*.*
!storybook-static/.gitkeep
