node_modules
# Do no ignore lock file to speed up builds during development.
!package-lock.json
# Remove the lines below and commit the Storybook assets if your build system
# does not allow to run NodeJS scripts.
storybook-static/**/*.*
!storybook-static/.gitkeep
