//
// List list.
//

@import '../../00-base/base';

.civic-link-list {
  $root: &;

  #{$root}__title {
    font-weight: bold;
    margin-bottom: civic-space(2);
  }

  #{$root}__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #{$root}__list__item {
    margin-bottom: civic-space(2);
  }

  &--inline {
    display: flex;

    #{$root}__title {
      margin-right: civic-space(2);
      margin-bottom: auto;
    }

    #{$root}__list {
      display: flex;
    }

    #{$root}__list__item {
      margin-right: civic-space(2);
      margin-bottom: auto;
    }
  }

  &--local-tasks {
    padding: civic-space(2) 0 civic-space(2) civic-space(2);

    &.civic-theme-light {
      background-color: $civic-local-tasks-light-background-color;
    }

    &.civic-theme-dark {
      background-color: $civic-local-tasks-dark-background-color;
    }
  }
}
