@import 'base.scss';

// Set default styles for the Storybook viewport.
#root {
  font-family: sans-serif;
}

.civic-nav-card {
  max-width: 576px;
}

.civic-event-card,
.civic-service-card {
  max-width: 376px;
}

.civic-card-promo {
  width: 376px;
}

.slot {
  display: block;
  background-color: transparentize(purple, 0.7);
  padding: 1em;
  text-align: center;
  font-family: 'Courier New', Monospace;
}

.slot--image_over {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
}
