<html>
<head>

  <link rel="stylesheet" href="../../../dist/civictheme.css">


</head>
<body>

<hr>

<button class="civictheme-button civictheme-theme-light civictheme-button--primary civictheme-button--extra-large" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--primary civictheme-button--large" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--primary civictheme-button--regular" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--primary civictheme-button--small" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--primary civictheme-button--extra-small" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--primary civictheme-button--extra-small" >aa</button>

<hr>

<button class="civictheme-button civictheme-theme-light civictheme-button--secondary civictheme-button--extra-large" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--secondary civictheme-button--large" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--secondary civictheme-button--regular" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--secondary civictheme-button--small" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--secondary civictheme-button--extra-small" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--secondary civictheme-button--extra-small" disabled>aa</button>

<hr>

<button class="civictheme-button civictheme-theme-light civictheme-button--tertriary civictheme-button--extra-large" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--tertriary civictheme-button--large" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--tertriary civictheme-button--regular" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--tertriary civictheme-button--small" >aa</button>
<button class="civictheme-button civictheme-theme-light civictheme-button--tertriary civictheme-button--extra-small" >aa</button>

<script src="button.js"></script>

<script>

  window.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('.civictheme-button').forEach((el) => {
      new CivicButton(el);
    });
  });


</script>

</body>
</html>
