//
// Heading.
//
@import '../../00-base/base';

.civic-image {
  border-radius: $civic-border-radius;

  &.civic-theme-light {
    color: civic-color('neutral_60');

    svg path {
      fill: civic-color('neutral_60');
    }
  }

  &.civic-theme-dark {
    color: civic-color('neutral_60');
  }
}
