//
// Flyout
//

@import '../../00-base/base';

$civic-flyout-light-color: civic-color('shade_80');
$civic-flyout-light-background-color: civic-color('neutral');
$civic-flyout-dark-color: civic-color('neutral');
$civic-flyout-dark-background-color: civic-color('shade_45');
$civic-flyout-direction-transforms: (
  'from-right': translateX(100%),
  'from-left': translateX(-100%),
  'from-top': translateY(-100%),
  'from-bottom': translateY(100%),
);

.civic-flyout {
  $root: &;
  &__trigger {
    cursor: pointer;
  }

  &__content {
    $content: &;
    overflow: auto;
    transition: transform .5s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    @include civic-typography('body');

    &--inner {
      padding: civic-space(2);
    }

    &--expanded {
      border-top: none;
      transform: translate(0, 0);
      z-index: 10;
      visibility: visible;
    }
  }

  @each $direction, $transform in $civic-flyout-direction-transforms {
    &--#{$direction} {
      #{$root}__content {
        transform: $transform;
      }
      #{$root}__content--expanded {
        transform: translate(0, 0);
      }
    }
  }

  &,
  &.civic-theme-light {
    #{$root}__content {
      color: $civic-flyout-light-color;
      background: $civic-flyout-light-background-color;
    }
  }

  &.civic-theme-dark {
    #{$root}__content {
      color: $civic-flyout-dark-color;
      background: $civic-flyout-dark-background-color;
    }
  }
}
