//
// Flyout
//

@import '../../00-base/base';

[data-flyout='true'] {
  $root: &;
  [data-flyout-trigger], [data-flyout-close] {
    cursor: pointer;
  }

  [data-flyout-panel] {
    $content: &;
    overflow: hidden auto;
    transition: transform .5s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    padding: civic-space(2);
    @include civic-box-shadow;
    @include civic-typography('body');
  }

  &[data-flyout-expanded] {
    > [data-flyout-panel] {
      transition: transform .5s;
      transform: translate(0, 0);
      z-index: 10;
      visibility: visible;
    }
  }

  @each $direction, $transform in $civic-flyout-direction-transforms {
    &[data-flyout-from='#{$direction}'] {
      [data-flyout-panel] {
        transform: $transform;
      }
      &[data-flyout-expanded] {
        > [data-flyout-panel] {
          transform: translate(0, 0);
        }
      }
    }
  }

  &,
  &.civic-theme-light {
    [data-flyout-panel] {
      color: $civic-flyout-light-color;
      background: $civic-flyout-light-background-color;
    }
  }

  &.civic-theme-dark {
    [data-flyout-panel] {
      color: $civic-flyout-dark-color;
      background: $civic-flyout-dark-background-color;
    }
  }
}
