{#
/**
* @file
* Back to Top component.
*/
#}

<div class="civictheme-back-to-top" data-component-name="back-to-top" data-scrollspy data-scrollspy-offset="400">
  {% include '@atoms/button/button.twig' with {
    kind: 'link',
    type: 'primary',
    icon: 'up-arrow',
    url: '#top',
    title:'Return focus to top of page',
  } only %}
</div>
