//
// Input component.
//

.ct-input {
  $root: &;

  margin-bottom: ct-space(2);

  &--disabled {
    opacity: 50%;
  }

  &__label {
    display: block;
    margin-bottom: ct-space();
  }

  &__element {
    border: rem(1px) solid;
    border-radius: $ct-input-border-radius;
    box-sizing: border-box;
    padding: ct-space(1.5) ct-space(5) ct-space(1.5) ct-space(2);
    width: 100%;

    &::placeholder {
      @include ct-typography('text-regular');
    }
  }

  &--tel {
    width: 50%;
    margin: 0 auto 0 0;
  }

  &--radio {
    display: inline;
  }

  &--checkbox {
    display: inline;
  }

  &--hidden {
    margin-bottom: 0;
  }

  &__state {
    position: relative;
    margin-left: - ct-space(4);

    svg {
      width: ct-space(2);
      height: ct-space(2);
      vertical-align: middle;
    }
  }

  &.ct-theme-light {
    #{$root}__element {
      border-color: $ct-input-light-border-color;
      background-color: $ct-input-light-background-color;

      &:hover {
        box-shadow: 0 0 0 1px $ct-input-light-border-color;
      }

      &:focus {
        background-color: $ct-input-light-focus-background-color;
        color: $ct-input-light-focus-color;
        outline: $ct-input-light-focus-outline-color;
        border-color: $ct-input-light-focus-border-color;
        box-shadow: 0 0 0 1px $ct-input-light-focus-border-color;
      }
    }
  }
}
