//
// Primary Navigation component.
//

@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

.ct-primary-navigation {
  $root: &;

  @include ct-print-hide();

  align-items: center;
  height: 100%;
  display: none;

  @include ct-breakpoint($ct-primary-navigation-breakpoint) {
    display: flex;
  }

  &__menu {
    // Reset all menu styles.
    &.ct-menu,
    .ct-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &.ct-menu--level-0 {
      // First-level items to be displayed inline.
      display: flex;
      padding-top: $ct-primary-navigation-dropdown-top-offset;
      padding-bottom: $ct-primary-navigation-dropdown-top-offset;
    }

    .ct-menu__item {
      // Links - level 0.
      &--level-0 {
        border-bottom: solid ct-particle(0.5);

        > .ct-link {
          display: block;
          padding: ct-spacing(2);

          @include ct-typography('label-regular');

          // Accommodate for the trigger.
          text-decoration: none;

          &::after {
            right: ct-spacing();
            margin-top: -1 * ct-particle(0.375);
            top: ct-spacing(2);
          }
        }

        // Accommodate extra spacing for dropdown icon.
        &#{$root}__has-dropdown {
          > .ct-link {
            padding-right: ct-icon-size-dimension('regular', $ct-collapsible-icon-size, 'width') + ct-spacing();
          }
        }
      }
    }
  }

  // Menu item with dropdown.
  &__has-dropdown {
    // Since 'data-collapsible-panel' is not added through a menu structure, we
    // need to imitate the initially collapsed panel behaviour.
    &[data-collapsible-collapsed] {
      > .ct-menu__sub-menu__wrapper {
        height: 0;
        overflow: hidden;
      }
    }

    // Dropdown (submenu) wrapper.
    .ct-menu__sub-menu__wrapper--level-1 {
      position: absolute;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
      margin-top: $ct-primary-navigation-dropdown-top-offset;
      z-index: $ct-primary-navigation-dropdown-zindex;
      box-shadow: 0 ct-spacing(2) ct-spacing(4) rgba(0, 0, 0, 20%);

      // Submenu.
      .ct-menu__sub-menu {
        &.ct-menu--level-1 {
          padding: 0;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          @include ct-container();

          margin-bottom: ct-spacing(4);
        }
      }

      .ct-menu__item--level-1 {
        padding: 0;
        margin: ct-spacing(4) 0 0;
        flex-basis: math.div(100%, $ct-primary-navigation-dropdown-cols);

        > .ct-link {
          @include ct-typography('heading-5');

          text-decoration: none;
        }
      }

      .ct-menu__sub-menu__wrapper--level-2 {
        margin-top: ct-spacing(4);
      }

      .ct-menu__item--level-2,
      .ct-menu__item--level-3,
      .ct-menu__item--level-4,
      .ct-menu__item--level-5 {
        width: 100%;
        margin-bottom: ct-spacing();

        > .ct-link {
          @include ct-typography('label-regular');

          text-decoration: none;
          display: block;
          border-radius: $ct-border-radius;
          padding: ct-spacing();
        }

        &.ct-menu__item--active-trail {
          > .ct-link {
            background-color: ct-color('primary', 5);
            color: ct-color('neutral', 1);
            padding-left: ct-spacing();
            padding-right: ct-spacing();
          }
        }
      }
    }
  }

  // Fill column width if there are less columns than expected.
  &__dropdown-columns--fill {
    .ct-menu__sub-menu__wrapper--level-1 {
      .ct-menu__item--level-1 {
        flex: 1;
      }
    }
  }

  // Allow to override column width based on the explicitly set columns number
  // class.
  @for $i from 1 through $ct-primary-navigation-dropdown-cols * 2 {
    &__dropdown-columns--#{$i} {
      .ct-menu__sub-menu__wrapper--level-1 {
        .ct-menu--level-1 {
          // @todo: Implement gutters using :nth() to make the last gutter
          // in the row collapse. Note that for "fill column width" option
          // this already works automatically.
          column-gap: $ct-primary-navigation-dropdown-column-gutter;
        }

        .ct-menu__item--level-1 {
          $basis: math.div(100%, $i);

          flex-basis: calc(#{$basis} - #{$ct-primary-navigation-dropdown-column-gutter});
        }
      }
    }
  }

  &.ct-theme-light {
    #{$root}__menu {
      .ct-menu__item {
        // Links - level 0.
        &--level-0 {
          border-bottom-color: $ct-primary-navigation-light-menu-item-border-color;

          &:hover {
            background-color: $ct-primary-navigation-light-menu-item-hover-background-color;
            border-bottom-color: $ct-primary-navigation-light-menu-item-hover-border-color;
          }

          &:active {
            background-color: $ct-primary-navigation-light-menu-item-active-background-color;
            border-bottom-color: $ct-primary-navigation-light-menu-item-active-border-color;
          }

          &[data-collapsible] {
            @include ct-icon-collapsible($ct-primary-navigation-light-color);

            border-bottom-color: $ct-primary-navigation-light-border-color;

            &:hover {
              @include ct-icon-collapsible($ct-primary-navigation-light-hover-color);

              background-color: $ct-primary-navigation-light-menu-item-hover-background-color;
              border-bottom-color: $ct-primary-navigation-light-menu-item-hover-border-color;
            }

            &:active {
              background-color: $ct-primary-navigation-light-menu-item-active-background-color;
              border-bottom-color: $ct-primary-navigation-light-menu-item-active-border-color;
            }
          }

          &[data-collapsible-collapsed] {
            border-bottom-color: $ct-primary-navigation-light-menu-item-border-color;
          }

          &.ct-menu__item--active-trail {
            border-bottom-color: $ct-primary-navigation-light-border-color;
          }

          > .ct-link {
            background-color: $ct-primary-navigation-light-menu-item-background-color;
            color: $ct-primary-navigation-light-color;

            &:hover {
              color: $ct-primary-navigation-light-hover-color;
              background-color: $ct-primary-navigation-light-menu-item-hover-background-color;
            }

            &[aria-expanded='true'],
            &:active {
              color: $ct-primary-navigation-light-active-color;
              background-color: $ct-primary-navigation-light-menu-item-active-background-color;
            }
          }
        }
      }
    }

    #{$root}__has-dropdown {
      .ct-menu__sub-menu__wrapper--level-1 {
        background-color: $ct-primary-navigation-light-sub-menu-background-color;

        // Reset some styles for all links in the dropdown.
        .ct-link {
          background: none;

          &:hover,
          &:active,
          &:focus {
            background: none;
          }
        }

        .ct-menu__item--level-1 {
          > .ct-link {
            color: $ct-primary-navigation-light-sub-menu-item-heading-color;

            &:hover {
              color: $ct-primary-navigation-light-sub-menu-item-heading-hover-color;
            }

            &:active {
              color: $ct-primary-navigation-light-sub-menu-item-heading-active-color;
            }
          }
        }

        .ct-menu__item--level-2,
        .ct-menu__item--level-3,
        .ct-menu__item--level-4,
        .ct-menu__item--level-5 {
          > .ct-link {
            color: $ct-primary-navigation-light-sub-menu-item-color;
            background-color: $ct-primary-navigation-light-sub-menu-item-background-color;

            &:hover {
              color: $ct-primary-navigation-light-sub-menu-item-hover-color;
              background-color: $ct-primary-navigation-light-sub-menu-item-hover-background-color;
            }

            &:active {
              color: $ct-primary-navigation-light-sub-menu-item-active-color;
              background-color: $ct-primary-navigation-light-sub-menu-item-active-background-color;
            }
          }

          &.ct-menu__item--active-trail {
            > .ct-link {
              background-color: $ct-primary-navigation-light-menu-item-active-trail-background-color;
              color: $ct-primary-navigation-light-menu-item-active-trail-color;
            }
          }
        }
      }
    }
  }

  &.ct-theme-dark {
    #{$root}__menu {
      .ct-menu__item {
        // Links - level 0.
        &--level-0 {
          border-bottom-color: $ct-primary-navigation-dark-menu-item-border-color;

          &:hover {
            background-color: $ct-primary-navigation-dark-menu-item-hover-background-color;
            border-bottom-color: $ct-primary-navigation-dark-menu-item-hover-border-color;
          }

          &:active {
            background-color: $ct-primary-navigation-dark-menu-item-active-background-color;
            border-bottom-color: $ct-primary-navigation-dark-menu-item-active-border-color;
          }

          &[data-collapsible] {
            @include ct-icon-collapsible($ct-primary-navigation-dark-color);

            border-bottom-color: $ct-primary-navigation-dark-border-color;

            &:hover {
              @include ct-icon-collapsible($ct-primary-navigation-dark-hover-color);

              background-color: $ct-primary-navigation-dark-menu-item-hover-background-color;
              border-bottom-color: $ct-primary-navigation-dark-menu-item-hover-border-color;
            }

            &:active {
              background-color: $ct-primary-navigation-dark-menu-item-active-background-color;
              border-bottom-color: $ct-primary-navigation-dark-menu-item-active-border-color;
            }
          }

          &[data-collapsible-collapsed] {
            border-bottom-color: $ct-primary-navigation-dark-menu-item-border-color;
          }

          &.ct-menu__item--active-trail {
            border-bottom-color: $ct-primary-navigation-dark-border-color;
          }

          > .ct-link {
            background-color: $ct-primary-navigation-dark-menu-item-background-color;
            color: $ct-primary-navigation-dark-color;

            &:hover {
              color: $ct-primary-navigation-dark-hover-color;
              background-color: $ct-primary-navigation-dark-menu-item-hover-background-color;
            }

            &[aria-expanded='true'],
            &:active {
              color: $ct-primary-navigation-dark-active-color;
              background-color: $ct-primary-navigation-dark-menu-item-active-background-color;
            }
          }
        }
      }
    }

    #{$root}__has-dropdown {
      .ct-menu__sub-menu__wrapper--level-1 {
        background-color: $ct-primary-navigation-dark-sub-menu-background-color;

        // Reset some styles for all links in the dropdown.
        .ct-link {
          background: none;

          &:hover,
          &:active,
          &:focus {
            background: none;
          }
        }

        .ct-menu__item--level-1 {
          > .ct-link {
            color: $ct-primary-navigation-dark-sub-menu-item-heading-color;

            &:hover {
              color: $ct-primary-navigation-dark-sub-menu-item-heading-hover-color;
            }

            &:active {
              color: $ct-primary-navigation-dark-sub-menu-item-heading-active-color;
            }
          }
        }

        .ct-menu__item--level-2,
        .ct-menu__item--level-3,
        .ct-menu__item--level-4,
        .ct-menu__item--level-5 {
          > .ct-link {
            color: $ct-primary-navigation-dark-sub-menu-item-color;
            background-color: $ct-primary-navigation-dark-sub-menu-item-background-color;

            &:hover {
              color: $ct-primary-navigation-dark-sub-menu-item-hover-color;
              background-color: $ct-primary-navigation-dark-sub-menu-item-hover-background-color;
            }

            &:active {
              color: $ct-primary-navigation-dark-sub-menu-item-active-color;
              background-color: $ct-primary-navigation-dark-sub-menu-item-active-background-color;
            }
          }

          &.ct-menu__item--active-trail {
            > .ct-link {
              background-color: $ct-primary-navigation-dark-menu-item-active-trail-background-color;
              color: $ct-primary-navigation-dark-menu-item-active-trail-color;
            }
          }
        }
      }
    }
  }
}
