{#
/**
 * @file
 * Icon component.
 *
 * Variables:
 * - symbol: [string] Icon name as per map.
 * - size: [string] Icon size.
 * - modifier_class: [string] Additional classes.
 */
#}

{% block content %}
  {% set modifier_class = '%s %s %s'|format((symbol ? 'civictheme-icon--' ~ symbol : ''),(size ? 'civictheme-icon--size-' ~ size : ''), modifier_class|default('')) %}

  {% if symbol is defined %}
    <span class="civictheme-icon {{ modifier_class }}"></span>
  {% endif %}

{% endblock %}
