//
// Icon component.
//

@use 'sass:map';

.civictheme-icon {
  vertical-align: sub;

  @each $symbol, $values in _civictheme-icon-symbols-all() {
    &--#{$symbol} {
      content: '';
      display: inline-block;
      mask-image: url('../assets/icons/' + $symbol + '.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: currentcolor;
    }
  }

  // Generate size classes for all pre-set sizes.
  @each $size, $values in _civictheme-icon-sizes-all() {
    &--size-#{$size} {
      @include civictheme-icon-size($size);
    }
  }
}
