//
// Publication Card component.
//

@use 'sass:map';

.ct-publication-card {
  $root: &;

  @include ct-elevation-interaction();

  position: relative;
  border-radius: $ct-publication-card-border-radius;
  width: 100%;

  // Prevent image from "spilling" over the border radius.
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include ct-breakpoint(m) {
    flex-direction: row;
  }

  #{$root}__image {
    @include ct-image-fit();

    position: relative;
    height: $ct-publication-card-image-height-mobile;
    width: auto;
    min-width: $ct-publication-card-image-width-mobile;

    @include ct-breakpoint(m) {
      width: $ct-publication-card-image-width-desktop;
      height: auto;
      min-height: $ct-publication-card-image-height-desktop;
      flex-shrink: 0;
    }
  }

  #{$root}__content {
    width: 100%;
    padding: ct-spacing(3);
  }

  #{$root}__content__title {
    @include ct-typography('heading-4');

    margin-bottom: ct-spacing(2);
  }

  &#{$root}--with-image {
    #{$root}__content__title {
      @include ct-typography('heading-5');
    }
  }

  #{$root}__content__title__link {
    @include ct-font-size-inherit();
    @include ct-link-wide();
  }

  #{$root}__content__attachment {
    margin-top: ct-spacing(2);
  }

  &#{$root}--with-link {
    #{$root}__content__summary {
      padding-right: ct-spacing(3);
    }

    #{$root}__content__attachment {
      padding-right: ct-spacing(3);
    }
  }

  #{$root}__content-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: ct-spacing(3);
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, background-color);
  }
}
