{#
/**
 * @file
 * Search component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - text: [string] Text for the link.
 * - url: [string] Search page URL.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

<div class="ct-search {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %} data-popover>
  {% include '@atoms/button/button.twig' with {
    theme: theme|default('light'),
    kind: 'link',
    text: text,
    icon: 'userinterface_magnifier',
    icon_placement: 'after',
    modifier_class: 'ct-search__link',
    attributes: 'data-popover-trigger data-popover-trigger-event="click"',
  } only %}
  <div data-popover-content>
    <form action="{{url}}">
      {% include '@atoms/input/input.twig' with {
        type: 'text',
        placeholder: "I'm looking for....",
        name: 'keys',
      } %}
      {% include '@atoms/button/button.twig' with {
        theme: theme|default('light'),
        kind: 'submit',
        type: 'primary',
        text: text,
      } only %}
    <form/>
  </div>
</div>
