//
// Search component.
//

.civictheme-search {
  $root: &;

  padding: civictheme-space(2) 0;

  &__link {
    @include civictheme-typography('text-regular');

    display: flex;
    align-items: center;
    text-decoration: none;
    padding: civictheme-space(2);
    padding-bottom: civictheme-space(2);
    border-bottom: solid 4px;

    svg {
      fill: currentcolor;
    }
  }

  &__icon {
    margin-left: rem(4px);
  }

  &.civictheme-theme-light {
    #{$root}__link {
      color: $civictheme-search-light-color;
      border-bottom-color: $civictheme-primary-navigation-light-menu-item-border-color;

      &:hover {
        color: $civictheme-search-light-color;
        border-bottom-color: $civictheme-primary-navigation-light-menu-item-hover-border-color;
      }

      &:active {
        color: $civictheme-search-light-active-color;
        border-bottom-color: $civictheme-primary-navigation-light-menu-item-active-border-color;
      }
    }
  }

  &.civictheme-theme-dark {
    #{$root}__link {
      color: $civictheme-search-dark-color;
      border-bottom-color: $civictheme-primary-navigation-dark-menu-item-border-color;

      &:hover {
        color: $civictheme-search-dark-color;
        border-bottom-color: $civictheme-primary-navigation-dark-menu-item-hover-border-color;
      }

      &:active {
        color: $civictheme-search-dark-active-color;
        border-bottom-color: $civictheme-primary-navigation-dark-menu-item-active-border-color;
      }
    }
  }
}
