{#
/**
 * @file
 * Search component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - text: [string] Text for the link.
 * - url: [string] Search page URL.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

<div class="civictheme-search {{ modifier_class }}">
  <a class="civictheme-search__link" href="{{ url }}">
    <span>{{ text }}</span>
    {% include '@atoms/icon/icon.twig' with {
      symbol: 'userinterface_magnifier',
      modifier_class: 'civictheme-search__icon'
    } only %}
  </a>
</div>
