//
// Search component.
//

.ct-search {
  $root: &;

  @include ct-print-hide();

  padding: ct-space(2) 0;

  &__link {
    @include ct-typography('label-regular');

    // Make button appear as a Primary Navigation item.
    // @see ct-primary-navigation.scss
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: ct-space(2);
    border-bottom: solid 4px;

    .ct-button__icon {
      margin-left: ct-space(0.5);

      .ct-icon {
        vertical-align: middle;
      }
    }
  }

  &.ct-theme-light {
    #{$root}__link {
      color: $ct-search-light-color;
      border-bottom-color: $ct-search-light-menu-item-border-color;

      &:hover {
        color: $ct-search-light-hover-color;
        border-bottom-color: $ct-search-light-menu-item-hover-border-color;
      }

      &:active {
        color: $ct-search-light-active-color;
        border-bottom-color: $ct-search-light-menu-item-active-border-color;
      }
    }
  }

  &.ct-theme-dark {
    #{$root}__link {
      color: $ct-search-dark-color;
      border-bottom-color: $ct-search-dark-menu-item-border-color;

      &:hover {
        color: $ct-search-dark-hover-color;
        border-bottom-color: $ct-search-dark-menu-item-hover-border-color;
      }

      &:active {
        color: $ct-search-dark-active-color;
        border-bottom-color: $ct-search-dark-menu-item-active-border-color;
      }
    }
  }
}
