{% extends './banner.twig' %}

{% set content_top = 1 %}
{% set breadcrumbs = 1 %}
{% set content_top2 = 1 %}
{% set content_top3 = 1 %}
{% set content_middle = 1 %}
{% set content = 1 %}
{% set content_title = 1 %}
{% set below_content = 1 %}

{% block content_top %}
  {%- if showTopContent %}
    <div>Top content</div>
  {% endif -%}
{% endblock %}

{% block breadcrumbs %}
  {%- if showBreadcrumbs %}
    {% include '@molecules/breadcrumb/breadcrumb.twig' with {
      theme: theme,
      links: [
        { 'text': 'Home', 'url': 'http://example.com'},
        { 'text': 'Sub Page', 'url': 'http://example.com'},
        { 'text': 'Active Page', 'url': 'http://example.com'}
      ]
    } only %}
  {% endif -%}
{% endblock %}

{% block content_top2 %}
  {%- if showControls %}
    <div>Content Top 2</div>
  {% endif -%}
{% endblock %}

{% block content_top3 %}
  {%- if showTopContent3 %}
    <div>Section name</div>
  {% endif -%}
{% endblock %}

{% block content_title %}
  {%- if showBannerTitle %}
    <h1 class="civic-banner-example__title">Providing visually engaging digital experiences</h1>
  {% endif -%}
{% endblock %}

{% block content_middle %}
  {%- if showContentMiddle %}
    <div>Midlde Content</div>
  {% endif -%}
{% endblock %}

{% block content %}
  {%- if showContent %}
    <p>Last updated: 26 Oct 2020</p>
    <p>Government grade set of high quality design themes that are accessible, inclusive and provide a consistent digital experience for your citizen. </p>
    {% include '@atoms/button/button.twig' with {
      text: 'Learn about our mission',
      type: 'primary',
      theme: theme,
    } only %}
  {% endif -%}
{% endblock %}

{% block below_content %}
  {%- if showBelowContent %}
    <div>Below content</div>
  {% endif -%}
{% endblock %}
