//
// Key Links.
//

@import '../../00-base/base';

.civic-key-links {
  &__title {
    @include civic-typography((
      'xs': (14px, 25px, 500)
    ));
    color: civic-color(neutral);
    text-transform: uppercase;
    margin-bottom: civic-space(2);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @include civic-breakpoint(m) {
      columns: 2;
      column-gap: civic-space(8);
    }
  }

  &__list-item {
    margin-bottom: civic-space(1);
  }

  &__link {
    @include civic-typography(heading-4);
    position: relative;
    background-color: civic-color(shade_30);
    color: civic-color(neutral);
    padding: civic-space(2);
    display: block;
    border-radius: rem(4px);
    text-decoration: none;

    &:hover {
      background-color: civic-color(shade_60);
    }

    &:focus {
      @include civic-outline(true);
    }
  }

  &__link-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: civic-space(1);
    margin: auto;
  }
}
