//
// Tooltip component.
//

@use 'sass:math';

.civictheme-tooltip {
  $root: &;

  display: inline-block;
  position: relative;

  &__button {
    appearance: none;
    border: 0;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    padding: 0;

    &:focus {
      @include civictheme-outline(true);
    }
  }

  &__description {
    $triangle-width-half: math.div($civictheme-tooltip-triangle-width, 2);

    @include civictheme-typography('label-small');
    @include civictheme-elevation(2);

    display: flex;
    align-items: center;
    border-radius: $civictheme-tooltip-description-border-radius;
    box-sizing: border-box;
    position: absolute;
    width: $civictheme-tooltip-width;
    min-height: rem(100px);
    z-index: $civictheme-tooltip-z-index;

    &[data-popper-placement^='top'] > [data-tooltip-arrow] {
      bottom: -$civictheme-tooltip-triangle-width;
      width: civictheme-space(4);

      &::before {
        border-left: $civictheme-tooltip-triangle-height solid transparent;
        border-right: $civictheme-tooltip-triangle-height solid transparent;
        border-top: $civictheme-tooltip-triangle-width solid;
      }
    }

    &[data-popper-placement^='bottom'] > [data-tooltip-arrow] {
      top: -$civictheme-tooltip-triangle-width;
      width: civictheme-space(4);

      &::before {
        border-left: $civictheme-tooltip-triangle-height solid transparent;
        border-right: $civictheme-tooltip-triangle-height solid transparent;
        border-bottom: $civictheme-tooltip-triangle-width solid;
      }
    }

    &[data-popper-placement^='left'] > [data-tooltip-arrow] {
      right: -$civictheme-tooltip-triangle-width;
      width: $civictheme-tooltip-triangle-width;

      &::before {
        border-top: $civictheme-tooltip-triangle-height solid transparent;
        border-left: $civictheme-tooltip-triangle-width solid;
        border-bottom: $civictheme-tooltip-triangle-height solid transparent;
      }
    }

    &[data-popper-placement^='right'] > [data-tooltip-arrow] {
      left: -$civictheme-tooltip-triangle-width;
      width: $civictheme-tooltip-triangle-width;

      &::before {
        border-top: $civictheme-tooltip-triangle-height solid transparent;
        border-right: $civictheme-tooltip-triangle-width solid;
        border-bottom: $civictheme-tooltip-triangle-height solid transparent;
      }
    }

    @include civictheme-breakpoint('m') {
      [data-tooltip-close] {
        @include civictheme-visually-hidden();
      }
    }

    [data-tooltip-close] {
      margin-left: auto;
      padding: civictheme-space() civictheme-space(2) civictheme-space(2) civictheme-space();
      align-self: start;
    }
  }

  // Triangle.
  &__arrow {
    width: $civictheme-tooltip-triangle-width;
    height: $civictheme-tooltip-triangle-width;
    display: inline-block;
    position: absolute;
    z-index: -1;

    &::before {
      width: 0;
      height: 0;
      position: absolute;
      z-index: $civictheme-tooltip-z-index;
      content: '';
      top: 0;
      left: 0;
    }
  }

  &:not([data-tooltip-visible]) {
    #{$root}__description {
      @include civictheme-visually-hidden();
    }

    #{$root}__arrow {
      @include civictheme-visually-hidden();
    }
  }

  &__description__inner {
    margin: civictheme-space(2);
  }

  &.civictheme-theme-light {
    #{$root}__button {
      color: $civictheme-tooltip-light-icon-color;
    }

    #{$root}__description {
      color: $civictheme-tooltip-light-description-color;
      background-color: $civictheme-tooltip-light-description-background-color;

      &[data-popper-placement^='top'] > [data-tooltip-arrow] {
        &::before {
          border-top-color: $civictheme-tooltip-light-description-background-color;
        }
      }

      &[data-popper-placement^='bottom'] > [data-tooltip-arrow] {
        &::before {
          border-bottom-color: $civictheme-tooltip-light-description-background-color;
        }
      }

      &[data-popper-placement^='left'] > [data-tooltip-arrow] {
        &::before {
          border-left-color: $civictheme-tooltip-light-description-background-color;
        }
      }

      &[data-popper-placement^='right'] > [data-tooltip-arrow] {
        &::before {
          border-right-color: $civictheme-tooltip-light-description-background-color;
        }
      }
    }
  }

  &.civictheme-theme-dark {
    #{$root}__button {
      color: $civictheme-tooltip-dark-icon-color;
    }

    #{$root}__description {
      color: $civictheme-tooltip-dark-description-color;
      background-color: $civictheme-tooltip-dark-description-background-color;

      &[data-popper-placement^='top'] > [data-tooltip-arrow] {
        &::before {
          border-top-color: $civictheme-tooltip-dark-description-background-color;
        }
      }

      &[data-popper-placement^='bottom'] > [data-tooltip-arrow] {
        &::before {
          border-bottom-color: $civictheme-tooltip-dark-description-background-color;
        }
      }

      &[data-popper-placement^='left'] > [data-tooltip-arrow] {
        &::before {
          border-left-color: $civictheme-tooltip-dark-description-background-color;
        }
      }

      &[data-popper-placement^='right'] > [data-tooltip-arrow] {
        &::before {
          border-right-color: $civictheme-tooltip-dark-description-background-color;
        }
      }
    }
  }
}
