{#
/**
 * @file
 * Theme override to display a single page.
 */
#}

{#
 # Note that variables are not scoped so that child themes could add more
 # variables without the need to change this template.
#}

<div class="civic-alerts" data-component-name="civic-alerts" data-alert-endpoint="/api/civic_alerts?_format=json"></div>

{% include '@templates/page/page.twig' %}
