{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - theme: [string] theme: light, dark.
 * - attributes: HTML attributes for the containing element.
 * - modifier_class: [string] Additional classes to modify component styling.
 *
 */
#}
{%
  set classes = [
  'civic-label',
  'civic-theme-%s'|format(theme|default('light')),
  title_display == 'after' ? 'civic-label--option' : '',
  title_display == 'invisible' ? 'visually-hidden' : '',
  required ? 'civic-label--required' : '',
  modifier_class ? modifier_class : '',
]
%}
{% if title is not empty or required -%}
  <label class="{{ classes|join(' ') }}" {{ attributes }}>{{ title }}</label>
{%- endif %}
