.civic-secondary-navigation {
  $root: &;

  &__menu {
    &.civic-menu,
    .civic-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    // First-level items to be displayed inline.
    &.civic-menu--level-0 {
      display: flex;
    }

    .civic-menu__item {
      .civic-link {
        @include civic-typography('body');

        text-decoration: none;
      }

      // Links - level 0.
      &--level-0 {
        margin-right: civic-space(2);

        &:last-child {
          margin-right: 0;
        }
      }

      > .civic-link {
        &::after {
          margin-top: 3px;
        }
      }
    }
  }

  &__has-dropdown {
    .civic-menu__sub-menu__wrapper--level-1 {
      position: absolute;
      z-index: $civic-secondary-navigation-dropdown-zindex;
      margin-top: $civic-secondary-navigation-dropdown-top-offset;
      border-bottom-left-radius: $civic-border-radius;
      border-bottom-right-radius: $civic-border-radius;

      @include civic-box-shadow();

      .civic-menu__sub-menu {
        margin-left: civic-space(2);

        &.civic-menu--level-1 {
          margin: civic-space(2);
        }
      }
    }
  }

  &.civic-theme-light {
    #{$root}__menu {
      .civic-menu__item {
        .civic-link {
          background: $civic-secondary-navigation-light-menu-item-background-color;

          &:hover {
            background: $civic-secondary-navigation-light-menu-item-hover-background-color;
            color: inherit;
          }

          &:active {
            background: $civic-secondary-navigation-light-menu-item-active-background-color;
            color: inherit;
          }
        }
      }
    }
    #{$root}__has-dropdown {
      .civic-menu__sub-menu__wrapper--level-1 {
        background-color: $civic-secondary-navigation-light-sub-menu-background-color;
      }
    }
  }

  &.civic-theme-dark {
    #{$root}__menu {
      .civic-menu__item {
        .civic-link {
          background: $civic-secondary-navigation-dark-menu-item-background-color;

          &:hover {
            background: $civic-secondary-navigation-dark-menu-item-hover-background-color;
            color: inherit;
          }

          &:active {
            background: $civic-secondary-navigation-dark-menu-item-active-background-color;
            color: inherit;
          }
        }
      }
    }

    #{$root}__has-dropdown {
      .civic-menu__sub-menu__wrapper--level-1 {
        background-color: $civic-secondary-navigation-dark-sub-menu-background-color;
      }
    }
  }
}
