//
// Callout.
//

@import '../../00-base/base';

.civic-callout {
  border-radius: 4px;
  border-left: 6px civic-color('secondary-accent') solid;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 28px;
  align-items: flex-start;

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0;

  @include civic-breakpoint(m) {
    padding: 32px 40px 36px 28px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    @include civic-breakpoint(m) {
      flex-direction: row;
    }

    a {
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 8px 0;
      @include civic-breakpoint(m) {
        margin: 8px 8px 0 0;
      }
    }

    &:last-child {
      @include civic-breakpoint(m) {
        margin: 8px 0 0 0;
      }
    }



  }
  &.civic-theme-light {
    background-color: civic-color('neutral_5');
  }
  &.civic-theme-dark {
    background-color: civic-color('shade_15');
  }
}
