//
// Custom variables overrides.
//
// Civic variables can be found in components/00-base/_variables.scss
//

// Copy the default value from original variables as this file is loaded first.
$civic-assets-directory: './assets/';

// Define custom font.
$civic-fonts: (
  'tertiary': (
    'family': 'Roboto',
    'types': (
      (
        'uri': (
          '#{$civic-assets-directory}fonts/roboto/Roboto-Regular.ttf',
          '#{$civic-assets-directory}fonts/roboto/Roboto-Regular.woff',
          '#{$civic-assets-directory}fonts/roboto/Roboto-Regular.eot',
        ),
      ),
      (
        'italic': true,
        'weight': 'bold',
        'uri': (
          '#{$civic-assets-directory}fonts/roboto/Roboto-BoldItalic.ttf',
          '#{$civic-assets-directory}fonts/roboto/Roboto-BoldItalic.woff',
          '#{$civic-assets-directory}fonts/roboto/Roboto-BoldItalic.eot',
        ),
      ),
    ),
  ),
);
$civic-colors: (
  // Override palette color.
  'success': green,
  // Define custom colors.
  'custom1': red,
  'custom2': orange,
  'custom3': blue,
);
