//
// Form mixins.
//

//
// Add 'disabled' styles to a form control.
//
@mixin ct-form-control-disabled() {
  opacity: 40%;
  pointer-events: none;
}

//
// Hide native form control.
//
@mixin ct-form-control-no-appearance() {
  appearance: none;

  // Not removed via appearance.
  margin: 0;
}
