//
// Outline mixins.
//

//
// Set element outline.
//
// Should be used on all interactive elements.
//
@mixin ct-outline-light($width: $ct-outline-width, $offset: $ct-outline-offset) {
  @include ct-outline($width, $offset);

  outline-color: $ct-outline-light;
}

//
// Set element outline.
//
@mixin ct-outline-dark($width: $ct-outline-width, $offset: $ct-outline-offset) {
  @include ct-outline($width, $offset);

  outline-color: $ct-outline-dark;
}

//
// Set element outline.
//
// Do not use directly.
// Use ct-outline-light() and ct-outline-dark() instead.
//
@mixin ct-outline($style: $ct-outline-style, $width: $ct-outline-width, $offset: $ct-outline-offset) {
  outline-width: $width;
  outline-style: $style;
  outline-color: invert;
  outline-offset: $offset;
  transition: none;
}

//
// Remove outline.
//
@mixin ct-outline-remove() {
  outline: none;
}
