//
// Outline mixins.
//

//
// Set element outline.
//
@mixin civictheme-outline($is_dark: false) {
  outline-offset: $civictheme-outline-offset;
  outline-width: $civictheme-outline-width;
  outline-style: solid;

  @if $is_dark {
    outline-color: $civictheme-outline-dark;
  }
  @else {
    outline-color: $civictheme-outline-light;
  }
}

@mixin civictheme-outline-border() {
  border-radius: $civictheme-outline-border-radius;
}
