{#
/**
 * @file
 * CivicTheme implementation of a container used to wrap child elements.
 */
#}
{% set classes = [
    'container',
    has_parent ? 'js-form-wrapper form-wrapper',
  ] %}
<div {{ attributes.addClass(classes) }}>
  {{ children }}
</div>
