.civic-menu {
  $root: &;
  list-style: none;
  margin: 0;
  padding: 0;

  &--main {
    display: flex;
  }

  &__sub-menu {
    margin-top: civic-space(2);
  }

  &__item {
    margin-bottom: civic-space(2);
  }
}
