{#
/**
 * @file Menu component.
 *
 * Available variables:
 * - theme: [string] Theme: light, dark.
 * - items: [array] Menu links array.
 * - menu_type: [string] Menu type to change the style and behaviour.
 */
#}

{% set classes = ['civic-menu'] %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set classes = classes|merge([theme_class]) %}
{% set menu_type = menu_type ? menu_type : 'main' %}
{% set classes = classes|merge(['civic-menu--%s'|format(menu_type)]) %}

{% import _self as menus %}

{% macro menu_links(items, menu_level, classes, menu_type) %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="{{ classes|join(' ') }}" data-component-name="{{ 'civic-menu--%s'|format(menu_type) }}">
    {% else %}
      <ul class="civic-menu civic-menu__sub-menu">
    {% endif %}
    {% for item in items %}
      <li class="civic-menu__item">
        {%
          set item_classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
        %}
        <div class="civic-menu__item--link">
          {% include '@atoms/link/link.twig' with {
            theme: theme,
            text: item.title,
            title: item.title,
            url: item.url,
            modifier_class: item_classes|join(' '),
          } only %}

          {% if menu_type == 'main' and item.below %}
            {% include '@atoms/icon/icon.twig' with {
              symbol: 'arrows_downarrowlarge',
              size: 'regular',
              color: 'footer'
            } only %}
          {% endif %}
        </div>

        {% if item.below %}
          {{ menus.menu_links(item.below, menu_level + 1, classes, menu_type) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{{ menus.menu_links(items, 0, classes, menu_type) }}
