//
// Logo component.
//

.ct-logo {
  $root: &;

  line-height: 0;

  img {
    flex: 1;
    max-width: $ct-logo-image-width-mobile;
    max-height: $ct-logo-image-height-mobile;

    @include ct-breakpoint('m') {
      max-width: $ct-logo-image-width-desktop;
      max-height: $ct-logo-image-height-desktop;
    }
  }

  #{$root}--hr {
    height: inherit;
    margin: ct-space();
  }

  &.ct-theme-light {

    #{$root}-type-inline {
      &,
      a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
      }
      #{$root}--hr {
        border-left: 1px solid $ct-logo-light-stripe-color;
      }

      &#{$root}-dual {
        &,
        a {
          align-items: unset;
        }

        img {
          max-width: $ct-logo-image-width-mobile * 0.5;

          @include ct-breakpoint('m') {
            max-width: $ct-logo-image-width-desktop * 0.5;
          }
        }
      }
    }
    #{$root}-type-stacked {
      &,
      a {
        display: inline-block;
      }
      #{$root}--hr {
        border: 1px solid $ct-logo-light-stripe-color;
      }
    }
  }

  &.ct-theme-dark {

    #{$root}-type-inline {
      &,
      a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
      }

      #{$root}--hr {
        border-left: 1px solid $ct-logo-dark-stripe-color;
      }

      &#{$root}-dual {
        &,
        a {
          align-items: unset;
        }

        img {
          max-width: $ct-logo-image-width-mobile * 0.5;

          @include ct-breakpoint('m') {
            max-width: $ct-logo-image-width-desktop * 0.5;
          }
        }
      }
    }
    #{$root}-type-stacked {
      &,
      a {
        display: inline-block;
      }
      #{$root}--hr {
        border: 1px solid $ct-logo-dark-stripe-color;
      }
    }
  }
}
