//
// Logo component.
//

@mixin civictheme-logo-type() {
  img {
    width: 50%;
  }
}

.civictheme-logo {
  $root: &;

  line-height: 0;

  img {
    width: 100%;
  }

  &.civictheme-theme-light {
    &#{$root}-type-inline {
      @include civictheme-logo-type();

    }
    &#{$root}-type-stacked {
      @include civictheme-logo-type();

    }
  }

  &.civictheme-theme-dark {
    &#{$root}-type-inline {
      @include civictheme-logo-type();

    }
    &#{$root}-type-stacked {
      @include civictheme-logo-type();

    }
  }
}
