//
// Typography component.
//

@use 'sass:map';

@each $name in map.keys(_ct-typography-all()) {
  .ct-#{$name} {
    @include ct-typography($name);
  }
}

div {
  @include ct-typography('text-regular');
}

p {
  margin-top: $ct-basic-content-vertical-spacing;
  margin-bottom: $ct-basic-content-vertical-spacing;

  &:first-child {
    margin-top: 0;
  }
}

blockquote {
  @include ct-typography('quote');

  position: relative;
  margin: 0;
  margin-top: $ct-basic-content-vertical-spacing;
  margin-bottom: $ct-basic-content-vertical-spacing;
  padding: ct-spacing(2) ct-spacing(3);

  &::before {
    content: '';
    width: rem(6px);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: $ct-basic-content-blockquote-border-radius;
  }
}
