//
// Typography component.
//

@use 'sass:map';

@each $name in map.keys(_civictheme-typography-all()) {
  .civictheme-#{$name} {
    @include civictheme-typography($name);
  }
}

div {
  @include civictheme-typography('text-regular');
}

p {
  margin-top: $civictheme-basic-content-vertical-spacing;
  margin-bottom: $civictheme-basic-content-vertical-spacing;

  &:first-child {
    margin-top: 0;
  }
}

blockquote {
  @include civictheme-typography('quote');

  position: relative;
  margin: 0;
  margin-top: $civictheme-basic-content-vertical-spacing;
  margin-bottom: $civictheme-basic-content-vertical-spacing;
  padding: civictheme-space(2) civictheme-space(3);

  &::before {
    content: '';
    width: rem(6px);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: $civictheme-basic-content-blockquote-border-radius;
  }
}
