{#
/**
 * @file
 * Typography.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - content: [string] Content.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if content is not empty %}
  <div class="civictheme-content {{ modifier_class }}">
    {{ content|raw }}
  </div>
{% endif %}
