//
// Tag component.
//

.civictheme-tag {
  $root: &;

  border-radius: $civictheme-tag-border-radius;
  border-style: solid;
  border-width: $civictheme-tag-border-width;
  display: inline-block;

  @include civictheme-typography('label-small');
  @include civictheme-link-no-decoration();

  &--icon-before {
    .civictheme-icon {
      margin-right: civictheme-space(0.25);
    }
  }

  &--icon-after {
    .civictheme-icon {
      margin-left: civictheme-space(0.25);
    }
  }

  .civictheme-icon {
    vertical-align: text-bottom;
  }

  &--external {
    @include civictheme-visually-hidden();
  }

  &.civictheme-theme-light {
    &#{$root}--primary {
      background-color: $civictheme-tag-light-primary-background-color;
      border-color: $civictheme-tag-light-primary-border-color;
      color: $civictheme-tag-light-primary-color;
      padding: civictheme-space(0.5) civictheme-space();

      @include civictheme-icon-fill-color($civictheme-tag-light-primary-color);
    }

    &#{$root}--secondary {
      background-color: $civictheme-tag-light-secondary-background-color;
      border-color: $civictheme-tag-light-secondary-border-color;
      color: $civictheme-tag-light-secondary-color;
      padding: civictheme-space(0.5) civictheme-space();

      @include civictheme-icon-fill-color($civictheme-tag-light-secondary-color);
    }

    &#{$root}--tertiary {
      background-color: $civictheme-tag-light-tertiary-background-color;
      border-color: $civictheme-tag-light-tertiary-border-color;
      color: $civictheme-tag-light-tertiary-color;

      @include civictheme-icon-fill-color($civictheme-tag-light-tertiary-color);
    }
  }

  &.civictheme-theme-dark {
    &#{$root}--primary {
      background-color: $civictheme-tag-dark-primary-background-color;
      border-color: $civictheme-tag-dark-primary-border-color;
      color: $civictheme-tag-dark-primary-color;
      padding: civictheme-space(0.5) civictheme-space();

      @include civictheme-icon-fill-color($civictheme-tag-dark-primary-color);
    }

    &#{$root}--secondary {
      background-color: $civictheme-tag-dark-secondary-background-color;
      border-color: $civictheme-tag-dark-secondary-border-color;
      color: $civictheme-tag-dark-secondary-color;
      padding: civictheme-space(0.5) civictheme-space();

      @include civictheme-icon-fill-color($civictheme-tag-dark-secondary-color);
    }

    &#{$root}--tertiary {
      background-color: $civictheme-tag-dark-tertiary-background-color;
      border-color: $civictheme-tag-dark-tertiary-border-color;
      color: $civictheme-tag-dark-tertiary-color;

      @include civictheme-icon-fill-color($civictheme-tag-dark-tertiary-color);
    }
  }
}
