//
// Typography mixins.
//
// stylelint-disable scss/dollar-variable-pattern

@use 'sass:map';
@use 'sass:list';

//
// Include font size, height, weight and family for one-to-many breakpoints.
//
// @code
//
// @include civic-typography('heading-1');
// or
// @include civic-typography((24px, 1.2em, 400));
// or
// @include civic-typography((
//   'xs': (16px, 1.5em, 400),
//   'l': (24px, 1.2em, 600)
// ));
//
// @endcode
//
@mixin civic-typography($ruleset) {
  $all-typographies: _civic-typography-all();

  // Print preset
  @if type-of($ruleset) == string {
    @if map.get($all-typographies, $ruleset) == null {
      @error '"#{$ruleset}" is not an available typeset';
    }

    $ruleset: map.get($all-typographies, $ruleset);
  }

  // Print rules
  @if type-of($ruleset) == list {
    @include _civic-typography-print-rules($ruleset);
  }

  // Print breakpoints
  @if type-of($ruleset) == map {
    $breakpoints: map.keys($ruleset);

    @each $breakpoint in $breakpoints {
      $breakpoint-rules: map.get($ruleset, $breakpoint);

      @include civic-breakpoint($breakpoint) {
        @include _civic-typography-print-rules($breakpoint-rules);
      }
    }
  }
}

//
// Compile all typographies into a single map.
//
// Do not use directly.
// Use @include civic-typography() mixin instead.
//
@function _civic-typography-all() {
  @return map.merge($civic-typography-default, $civic-typography);
}

//
// Print typography rules.
//
// Do not use directly.
// Use @include civic-typography() mixin instead.
//
@mixin _civic-typography-print-rules($rules) {
  $font-size: list.nth($rules, 1);
  $line-height: list.nth($rules, 2);
  $font-weight: 'default';
  $font-family: 'none';
  $letter-spacing: normal;

  @if length($rules) >= 3 {
    $font-weight: list.nth($rules, 3);
  }

  @if length($rules) >= 4 {
    $font-family: list.nth($rules, 4);
  }

  @if length($rules) >= 5 {
    $letter-spacing: list.nth($rules, 5);
  }

  font-size: rem($font-size);
  line-height: $line-height;
  letter-spacing: $letter-spacing;

  @if $font-family != 'none' {
    font-family: map.get($civic-font, $font-family);
  }

  @if $font-weight != 'default' {
    font-weight: $font-weight;
  }
}
