{#
/**
 * @file
 * Civic theme implementation for a 'radio' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see template_preprocess_checkboxes()
 *
 * @ingroup themeable
 */
 @todo: remove this file once https://www.drupal.org/node/1819284 is resolved.
 This is identical to core/modules/system/templates/container.html.twig
#}
<div class="civic-basic-filter__list--row">
  {% include '@atoms/filter-chip/filter-chip.twig' with {
    theme: theme,
    text: text,
    is_multiple: is_multiple,
    name: name,
    id: id,
    attributes: attributes
  } only %}
</div>
