//
// Checkbox component.
//

.ct-checkbox {
  $root: &;

  position: absolute;
  display: flex;
  align-items: center;

  &--disabled {
    opacity: 50%;
  }

  .ct-checkbox__element {
    position: absolute;
    // stylelint-disable-next-line alpha-value-notation
    opacity: 0;
    width: rem(26px);
    height: rem(26px);
    z-index: 1;
    cursor: pointer;

    & + .ct-checkbox__state {
      &::before {
        content: '';
        border-radius: $ct-checkbox-border-radius;
        border: 1px solid;
        display: block;
        width: rem(24px);
        height: rem(24px);
        position: relative;
        margin-right: ct-space();
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
      }

      &::after {
        position: absolute;
        top: 2px;
        left: 2px;
        display: inline-block;
        width: rem(22px);
        height: rem(22px);
        content: '';
      }
    }

    &:checked {
      & + .ct-checkbox__state {
        &::before {
          width: rem(22px);
          height: rem(22px);
          border-width: 2px;
        }
      }
    }

    &:focus,
    &:hover {
      & + .ct-checkbox__state {
        &::before {
          box-shadow: 0 0 0 1px;
        }
      }
    }

    &:disabled {
      pointer-events: none;
    }
  }

  #{$root}__label {
    @include ct-typography('text-regular');
  }

  &.ct-theme-light {
    #{$root}__label {
      color: $ct-checkbox-label-light-color;
    }

    #{$root}__element {
      & + .ct-checkbox__state {
        &::before {
          border-color: $ct-checkbox-light-border-color;
        }
      }

      &:active {
        & + .ct-checkbox__state {
          &::before {
            background-color: $ct-checkbox-light-active-background-color;
            border-color: $ct-checkbox-light-active-background-color;
            box-shadow: inset 0 0 0 3px $ct-checkbox-light-check-color;
          }
        }
      }

      &:focus {
        & + .ct-checkbox__state {
          &::before {
            @include ct-outline();

            background-color: $ct-checkbox-light-selected-background-color;
            border-color: $ct-checkbox-light-selected-background-color;
            box-shadow: inset 0 0 0 3px $ct-checkbox-light-check-color;
          }
        }
      }

      &:hover {
        & + .ct-checkbox__state {
          &::before {
            box-shadow: 0 0 0 1px $ct-checkbox-light-border-color;
          }
        }
      }

      &:checked {
        & + .ct-checkbox__state {
          &::before {
            background-color: $ct-checkbox-light-selected-background-color;
            border-color: $ct-checkbox-light-selected-background-color;
            box-shadow: inset 0 0 0 3px $ct-checkbox-light-check-color;
          }

          &::after {
            content: ct-color-svg-fill($ct-checkbox-check, $ct-checkbox-light-check-color);
          }
        }
      }
    }

    &.ct-checkbox--success {
      #{$root}__element {
        &:checked + .ct-checkbox__state {
          &::before {
            border-color: $ct-input-light-success-border-color;
            background-color: $ct-input-light-success-border-color;
          }
        }
      }
    }

    &.ct-checkbox--error {
      #{$root}__element {
        & + .ct-checkbox__state {
          &::before {
            border-color: $ct-input-light-error-border-color;
          }
        }

        &:checked {
          & + .ct-checkbox__state {
            &::before {
              border-color: $ct-input-light-error-border-color;
              background-color: $ct-input-light-error-border-color;
            }
          }
        }
      }
    }
  }

  &.ct-theme-dark {
    #{$root}__label {
      color: $ct-checkbox-label-dark-color;
    }

    #{$root}__element {
      & + .ct-checkbox__state {
        &::before {
          border-color: $ct-checkbox-dark-border-color;
        }
      }

      &:active {
        & + .ct-checkbox__state {
          &::before {
            background-color: $ct-checkbox-dark-active-background-color;
            border-color: $ct-checkbox-dark-active-background-color;
            box-shadow: inset 0 0 0 3px $ct-checkbox-dark-check-color;
          }
        }
      }

      &:focus {
        & + .ct-checkbox__state {
          &::before {
            @include ct-outline(true);

            background-color: $ct-checkbox-dark-selected-background-color;
            border-color: $ct-checkbox-dark-selected-background-color;
            box-shadow: inset 0 0 0 3px $ct-checkbox-dark-check-color;
          }
        }
      }

      &:hover {
        & + .ct-checkbox__state {
          &::before {
            box-shadow: 0 0 0 1px $ct-checkbox-dark-border-color;
          }
        }
      }

      &:checked {
        & + .ct-checkbox__state {
          &::before {
            background-color: $ct-checkbox-dark-selected-background-color;
            border-color: $ct-checkbox-dark-selected-background-color;
            box-shadow: inset 0 0 0 3px $ct-checkbox-dark-check-color;
          }

          &::after {
            content: ct-color-svg-fill($ct-checkbox-check, $ct-checkbox-dark-check-color);
          }
        }
      }
    }

    &.ct-checkbox--success {
      #{$root}__element {
        &:checked + .ct-checkbox__state {
          &::before {
            border-color: $ct-input-dark-success-border-color;
            background-color: $ct-input-dark-success-border-color;
          }
        }
      }
    }

    &.ct-checkbox--error {
      #{$root}__element {
        & + .ct-checkbox__state {
          &::before {
            border-color: $ct-input-dark-error-border-color;
          }
        }

        &:checked {
          & + .ct-checkbox__state {
            &::before {
              border-color: $ct-input-dark-error-border-color;
              background-color: $ct-input-dark-error-border-color;
            }
          }
        }
      }
    }
  }
}
