//
// Checkbox component.
//

@import '../../00-base/mixins/form';

.civictheme-checkbox {
  $root: &;

  position: absolute;
  display: flex;
  align-items: center;

  &__element {
    @include civictheme-checkbox-radio('checkbox');

    &.civictheme-input__element + .civictheme-checkbox__state {
      &::after {
        position: absolute;
        top: 2px;
        left: 2px;
        display: inline-block;
        width: rem(22px);
        height: rem(22px);
        content: '';
      }
    }

    &.civictheme-theme-light {
      &:checked {
        & + .civictheme-checkbox__state {
          &::after {
            content: civictheme-color-svg-fill($civictheme-radio-check, $civictheme-radio-light-check-color);
          }
        }
      }
    }

    &.civictheme-theme-dark {
      &:checked {
        & + .civictheme-checkbox__state {
          &::after {
            content: civictheme-color-svg-fill($civictheme-radio-check, $civictheme-radio-dark-check-color);
          }
        }
      }
    }
  }

  &.civictheme-theme-light {
    #{$root}__label {
      @include civictheme-typography('text-regular');
      color: $civictheme-radio-label-light-color;

      &.disabled {
        color: $civictheme-radio-label-disabled-light-color;
      }
    }
  }

  &.civictheme-theme-dark {
    #{$root}__label {
      @include civictheme-typography('text-regular');
      color: $civictheme-radio-label-dark-color;

      &.disabled {
        color: $civictheme-radio-label-disabled-dark-color;
      }
    }
  }
}

.checkboxes--wrapper {
  @include civictheme-typography('text-regular');
}
