//
// Label component.
//

@use 'sass:map';
@use 'sass:string';

.civictheme-label {
  $root: &;

  @include civictheme-typography('label-regular');

  display: block;

  &[for] {
    cursor: pointer;
  }

  &--required {
    &::after {
      content: ' (Required)';

      @include civictheme-typography('label-small');
    }
  }

  @each $name in map.keys(_civictheme-typography-all()) {
    @if string.index(#{$name}, 'label-') {
      $size: string.slice(#{$name}, 6, 100);
      &.civictheme-label-#{$size} {
        @include civictheme-typography($name);
      }
    }
  }

  &.civictheme-theme-light {
    color: $civictheme-label-light-color;

    #{$root}--required {
      &::after {
        color: $civictheme-label-light-required-color;
      }
    }
  }

  &.civictheme-theme-dark {
    color: $civictheme-label-dark-color;

    #{$root}--required {
      &::after {
        color: $civictheme-label-dark-required-color;
      }
    }
  }
}
