//
// message.
//

@use 'sass:map';

.civic-message {
  $root: &;

  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  border-radius: $civic-border-radius;
  border-left: solid rem(6px) transparent;
  padding: civic-space(3) civic-space(3) civic-space(3) civic-space(2);

  @include civic-typography('body');

  #{$root}__icon {
    width: rem(26px);
    margin-right: civic-space(2);
  }

  .civic-icon {
    width: rem(26px);
    height: rem(26px);
  }

  #{$root}__title {
    font-weight: 600;
  }

  #{$root}__summary {
    margin-top: civic-space();
  }

  @each $type, $values in $civic-message-light-background-colors-default {
    &#{$root}--#{$type} {
      &.civic-theme-light {
        $civic-light-merged-background-colors: map.merge($civic-message-light-background-colors-default, $civic-message-light-background-colors);
        $civic-light-merged-border-colors: map.merge($civic-message-light-border-colors-default, $civic-message-light-border-colors);
        $civic-light-merged-text-colors: map.merge($civic-message-light-text-colors-default, $civic-message-light-text-colors);
        $civic-light-merged-icon-colors: map.merge($civic-message-light-icon-colors-default, $civic-message-light-icon-colors);

        background-color: map.get($civic-light-merged-background-colors, '#{$type}');
        border-color: map.get($civic-light-merged-border-colors, '#{$type}');
        color: map.get($civic-light-merged-text-colors, '#{$type}');

        #{$root}__icon {
          .civic-icon {
            fill: map.get($civic-light-merged-icon-colors, '#{$type}');
          }
        }
      }

      &.civic-theme-dark {
        $civic-dark-merged-background-colors: map.merge($civic-message-dark-background-colors-default, $civic-message-dark-background-colors);
        $civic-dark-merged-border-colors: map.merge($civic-message-dark-border-colors-default, $civic-message-dark-border-colors);
        $civic-dark-merged-text-colors: map.merge($civic-message-dark-text-colors-default, $civic-message-dark-text-colors);
        $civic-dark-merged-icon-colors: map.merge($civic-message-dark-icon-colors-default, $civic-message-dark-icon-colors);

        background-color: map.get($civic-dark-merged-background-colors, '#{$type}');
        border-color: map.get($civic-dark-merged-border-colors, '#{$type}');
        color: map.get($civic-dark-merged-text-colors, '#{$type}');

        #{$root}__icon {
          .civic-icon {
            fill: map.get($civic-dark-merged-icon-colors, '#{$type}');
          }
        }
      }
    }
  }
}
