//
// Tabs component.
//

.ct-tabs {
  $root: &;

  margin-top: ct-spacing(2);

  @include ct-typography('label-regular');

  #{$root}__links {
    border-bottom-style: solid;
    border-bottom-width: 1px;

    .ct-link-list__list__item {
      margin-right: 0;
    }

    .ct-link {
      margin-bottom: -1px;
      outline-offset: -3px;
      display: block;

      @include ct-link-decoration(false, false, false, false);

      padding: ct-spacing(1) ct-spacing(2);
      border-radius: $ct-tabs-link-border-radius $ct-tabs-link-border-radius 0 0;
      border: solid 1px;

      @include ct-breakpoint('m') {
        padding: ct-spacing(2.875);
      }
    }
  }

  .ct-tabs__panels {
    margin-top: ct-spacing(3);
  }

  .ct-tabs__panels__panel {
    display: none;

    &.selected {
      display: block;
    }
  }

  &.ct-theme-light {
    #{$root}__links {
      border-bottom-color: $ct-tabs-light-links-border-color;
    }

    #{$root}__panels {
      color: $ct-tabs-light-panel-color;
      background-color: $ct-tabs-light-panel-background-color;
      border-color: $ct-tabs-light-panel-border-color;
    }
  }

  &.ct-theme-dark {
    #{$root}__links {
      border-bottom-color: $ct-tabs-dark-links-border-color;
    }

    #{$root}__panels {
      color: $ct-tabs-dark-panel-color;
      background-color: $ct-tabs-dark-panel-background-color;
      border-color: $ct-tabs-dark-panel-border-color;
    }
  }
}
