//
// Tag.
//

.civic-tag {
  $root: &;

  border-radius: $civic-tag-border-radius;
  padding: civic-space(0.25) civic-space() civic-space(0.25) civic-space(0.5);
  display: inline-block;

  @include civic-typography('label-small');

  &--no-icon {
    padding-left: civic-space();
  }

  &--icon-after {
    padding-right: rem(4px);
    padding-left: civic-space();
  }

  .civic-icon {
    padding-right: rem(2px);
    vertical-align: middle;
  }

  &.civic-theme-light {
    background-color: $civic-tag-light-background-color;
    color: $civic-tag-light-color;

    .civic-icon {
      fill: $civic-tag-light-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-tag-dark-background-color;
    color: $civic-tag-dark-color;

    .civic-icon {
      fill: $civic-tag-dark-color;
    }
  }
}
