{#
/**
 * @file
 * CivicTheme implementation to display a block.
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
<div{{ drupal_attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    {% include 'civictheme:heading' with {
      content: label,
      theme: theme|default('light'),
      level:  label_heading_level|default('2'),
      modifier_class: title_attributes.getAttribute('class'),
      attributes: title_attributes.removeAttribute('class'),
    } %}
  {% endif %}
  {{ title_suffix }}
  {% block content_block %}
    {{ content }}
  {% endblock %}
</div>
