//
// Social Links component.
//

.ct-social-links {
  display: flex;

  &__item {
    margin-right: ct-space(2);

    &:last-child {
      margin-right: 0;
    }
  }

  .ct-button--link {
    border: 1px solid transparent;
    padding: ct-space(1.375);
    display: block;

    @include ct-breakpoint('m') {
      padding: ct-space(1.625);
    }

    .ct-button__icon {
      display: block;
    }

    .ct-icon {
      fill: currentcolor;
      display: block;
    }
  }

  &--with-border {
    .ct-button--link {
      border: 1px solid currentcolor;
      border-radius: rem(100px);
    }
  }

  &.ct-theme-light {
    .ct-button--link {
      @include ct-link-colors($ct-social-links-light-color, $ct-social-links-light-hover-color, $ct-social-links-light-visited-color, $ct-social-links-light-active-color, $ct-social-links-light-focus-color);
    }
  }

  &.ct-theme-dark {
    .ct-button--link {
      @include ct-link-colors($ct-social-links-dark-color, $ct-social-links-dark-hover-color, $ct-social-links-dark-visited-color, $ct-social-links-dark-active-color, $ct-social-links-dark-focus-color);
    }
  }
}
