//
// Textarea component.
//

.ct-textarea {
  $root: &;

  @include ct-typography('text-regular');

  display: block;
  margin: 0 auto 0.5rem;
  padding: ct-space(1.25) ct-space(2);
  border-radius: $ct-input-border-radius;
  min-width: rem(300px);

  &:disabled {
    pointer-events: none;
    opacity: 50%;
  }

  &.ct-theme-light {
    color: $ct-input-light-color;
    background-color: $ct-input-light-background-color;

    &:hover {
      box-shadow: 0 0 0 1px $ct-input-light-hover-border-color;
    }

    &:active,
    &:focus {
      border-color: $ct-input-light-focus-border-color;
      box-shadow: 0 0 0 1px $ct-input-light-focus-border-color;
    }

    &:invalid,
    &.ct-input--error {
      border-color: $ct-input-light-error-border-color;
      box-shadow: 0 0 0 1px $ct-input-light-error-border-color;
    }
  }

  &.ct-theme-dark {
    color: $ct-input-dark-color;
    background-color: $ct-input-dark-background-color;

    &:hover {
      box-shadow: 0 0 0 1px $ct-input-dark-hover-border-color;
    }

    &:active,
    &:focus {
      border-color: $ct-input-dark-focus-border-color;
      box-shadow: 0 0 0 1px $ct-input-dark-focus-border-color;
    }

    &:invalid,
    &.ct-input--error {
      border-color: $ct-input-dark-error-border-color;
      box-shadow: 0 0 0 1px $ct-input-dark-error-border-color;
    }
  }
}
