<header class="civic-header" role="banner">
  <div class="container">

    {% block top %}
      {% if top %}
        <div class="row">
          <div class="col-m-12">
            {{ top }}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    {% block logocontent %}
      {% if logo or contnet %}
        <div class="row">
          <div class="col-m-4">
            {% block logo %}
              {{ logo }}
            {% endblock %}
          </div>
          <div class="col-m-12">
            {{ content }}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    {% block bottom %}
      {% if bottom %}
        <div class="row">
          <div class="col-m-12">
            {{ bottom }}
          </div>
        </div>
      {% endif %}
    {% endblock %}

  </div>
</header>
