{% extends './header.twig' %}

{% set sub_links = [
  { title: 'For individuals', url: '#' },
  { title: 'For businesses', url: '#' },
  { title: 'For government', url: '#' },
  { title: 'Services', url: '#' },
  { title: 'News & events', url: '#' },
  { title: 'Resources', url: '#' },
  { title: 'About', url: '#' },
] %}

{% set links = [
  { title: 'For individuals', url: '#', below: sub_links },
  { title: 'For businesses', url: '#', below: sub_links },
  { title: 'For government', url: '#', below: sub_links },
  { title: 'Resources', url: '#' },
  { title: 'About', url: '#' },
] %}

{% block top %}
    {% if showTop %}
          <div class="civic-header__top">
            <div class="container">
              <div class="row">
                <div class="hide-xs col-xs-12">
                  <div class="civic-header__top-inner">
                    <div class="civic-header__slogan">
                      <span>{{ slogan }}</span>
                    </div>
                    <div class="civic-header__top-menu">
                      {% include '@molecules/link-list/link-list.twig' with {
                        type: 'inline',
                        theme: theme,
                        links: [
                          {
                            title: 'About us',
                            url: '#',
                            modifier_class: 'civic-top__menu-link civic-top__top-menu-link--about-us',
                          },
                          {
                            title: 'Help',
                            url: '#',
                            modifier_class: 'civic-top__menu-link civic-header__top-menu-link--help',
                          },
                          {
                            title: 'Contact us',
                            url: '#',
                            modifier_class: 'civic-top__menu-link civic-header__top-menu-link--contact-us',
                          }
                        ],
                        modifier_class: 'civic-top-menu',
                      } %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    {% endif %}
{% endblock %}

{% block bottom %}
  {% if showBottom %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="civic-header__bottom">
            {% include '@organisms/menu/menu.twig' with {
              theme: theme,
              items: links,
              menu_type: 'main',
            } only %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
