//
// Header.
//

@import '../../00-base/base';

.civic-header {
  $root: &;
  @include civic-typography('body');
  &__top {
    padding: civic-space(2) 0;
  }
  &__top-inner {
    display: flex;
  }
  &__slogan {
    margin-right: auto;
  }
  &__logo{
    padding: civic-space(2) 0;
    .civic-image {
      margin: 0;
    }
  }
  .civic-top-menu {
    .civic-top__menu-link {
      position: relative;
      border-bottom: none;
      padding: civic-space(1) 0 civic-space(1) civic-space(5);

      &:hover {
        background-color: transparent;
      }
    }
  }
  &__middle {
    width: 100%;
  }
  &__content {
    border-bottom: 1px solid;
  }
  &__bottom {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  &.civic-theme-light {
    background-color: $civic-header-light-background-color;
    color: $civic-header-light-color;
    #{$root}__top {
      background-color: $civic-header-light-top-background-color;
      color: $civic-header-light-top-color;
    }
    .civic-top-menu {
      .civic-top__menu-link {
        color: $civic-header-light-top-menu-link;
      }
    }
    #{$root}__bottom,
    #{$root}__middle {
      border-color: $civic-header-light-border-color;
    }
  }
  &.civic-theme-dark {
    background-color: $civic-header-dark-background-color;
    color: $civic-header-dark-color;
    #{$root}__top {
      background-color: $civic-header-dark-top-background-color;
      color: $civic-header-dark-top-color;
    }
    .civic-top-menu {
      .civic-top__menu-link {
        color: $civic-header-dark-top-menu-link;
      }
    }
    #{$root}__bottom,
    #{$root}__middle {
      border-color: $civic-header-dark-border-color;
    }
  }
}
