{#
/**
 * @file
 * Single column layout component
 *
 * Available variables:
 * - content: The content for this layout.
 * - contained: Whether the content should be contained
 * - modifier_class: CSS modifying class
 *
 */
#}
<div class="civic-layout--single-column">
  {% if contained %}
   <div class="container">
     <div class="row">
     {% endif %}
      {% block content %}
        <div class="civic-layout__content {{ modifier_class }}">
          {{ content }}
        </div>
      {% endblock %}
  {% if contained %}
     </div>
   </div>
  {% endif %}
</div>
