//
// Button.
//

@import '../../00-base/base';

//
// Mixins.
//

@mixin civic-button($type: 'primary', $size: 'normal', $icon: false, $icon_placement: false, $is_disabled: false) {
  @include civic-button-type($type);
  @include civic-button-size($size);
  // @todo Implement icon support.
}

@mixin civic-button-type($type) {
  $types: ('primary', 'primary-accent', 'secondary', 'secondary-accent');

  @if not index($types, $type) {
    @error '"#{$type}" is not one of allowed #{$types}.';
  }

  @if $type=='primary' {
    background-color: civic-color('primary');
    color: civic-color('secondary');
    text-decoration: none;

    &:focus {
      box-shadow: $civic-outline-boxshadow;
    }

    &:hover {
      background-color: civic-color('shade_30');
    }

    &:active {
      background-color: civic-color('shade_60');
    }

    &[disabled] {
      background-color: civic-color('neutral_40');
    }

    &.civic-button--dark {
      background-color: civic-color('secondary');
      color: civic-color('primary');

      &:focus {
        background-color: civic-color('shade_30');
        color: civic-color('secondary');
        text-decoration: underline;
      }

      &:hover {
        background-color: civic-color('primary-accent');
        text-decoration: underline;
      }

      &:active {
        background-color: civic-color('secondary-accent');
        box-shadow: none;
        color: civic-color('secondary');
        text-decoration: underline;
      }

      &[disabled] {
        background-color: civic-color('neutral_60');
        color: civic-color('secondary');
      }
    }
  }

  @else if ($type=='primary-accent') {
    background-color: civic-color('primary-accent');
    color: civic-color('primary');
    text-decoration: none;

    &:focus {
      background-color: civic-color('shade_30');
      color: civic-color('secondary');
      text-decoration: underline;
      box-shadow: $civic-outline-accent-boxshadow;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      background-color: civic-color('secondary-accent');
    }

    &[disabled] {
      background-color: civic-color('neutral_40');
      color: civic-color('secondary');
    }

    &.civic-button--dark {
      background-color: civic-color('primary');
      color: civic-color('secondary');

      &:focus {
        color: civic-color('secondary');
        box-shadow: $civic-outline-accent-boxshadow
      }

      &:hover {
        background-color: civic-color('secondary');
        color: civic-color('primary');
        text-decoration: underline;
      }

      &:active {
        background-color: civic-color('secondary-accent');
        color: civic-color('secondary');
        text-decoration: underline;
      }

      &[disabled] {
        background-color: civic-color('neutral_60');
        color: civic-color('secondary');
        text-decoration: none;
      }
    }
  }

  @else if ($type=='secondary') {
    background-color: civic-color('secondary');
    color: civic-color('primary');
    border: rem(3px) solid civic-color('primary');
    text-decoration: none;

    &.civic-button--light {
      &:focus {
        box-shadow: $civic-outline-boxshadow;
      }

      &:hover {
        background-color: civic-color('primary');
        color: civic-color('secondary');
      }

      &:active {
        background-color: civic-color('shade_60');
        color: civic-color('secondary');
        border: rem(3px) solid civic-color('shade_60');;
      }

      &[disabled] {
        background-color: civic-color('neutral_40');
        color: civic-color('secondary');
      }
    }

    &.civic-button--dark {
      background-color: civic-color('primary');
      color: civic-color('secondary');
      border: 0;

      &:focus {
        background-color: civic-color('shade_60');
        box-shadow: $civic-outline-accent-boxshadow;
      }

      &:hover {
        background-color: civic-color('primary-accent');
        color: civic-color('primary');
        text-decoration: underline;
      }

      &:active {
        background-color: civic-color('secondary-accent');
        color: civic-color('secondary');
      }

      &[disabled] {
        background-color: civic-color('neutral_60');
        color: civic-color('secondary');
        text-decoration: none;
      }
    }
  }

  @else if ($type=='secondary-accent') {
    // @todo update light Add dark css once designs are updated.
    background-color: civic-color('secondary');
    color: civic-color('primary-accent');
    border: solid $civic-border-width civic-color('primary-accent');
    text-decoration: none;

    &:focus {
      box-shadow: $civic-outline-boxshadow;
    }

    &:hover {
      background-color: civic-color('shade_30');
      color: civic-color('secondary');
      border: 0;
    }

    &:active {
      background-color: civic-color('shade_60');
    }

    &[disabled] {
      background-color: civic-color('neutral_40');
      color: civic-color('secondary');
      border: 0;
    }
  }

}

@mixin civic-button-size($size) {
  $sizes: ('large', 'normal', 'small');

  @if not index($sizes, $size) {
    @error '"#{$size}" is not one of allowed #{$sizes}.';
  }

  @include civic-typography('label-#{$size}');
}

//
// Classes.
//

.civic-button {
  border: $civic-border-width solid transparent;
  border-radius: $civic-border-radius;
  cursor: pointer;
  padding: rem(12px) civic-space(5);
  @include civic-button-size('normal');

  &--primary {
    @include civic-button-type('primary');
  }

  &--primary-accent {
    @include civic-button-type('primary-accent');
  }

  &--secondary {
    @include civic-button-type('secondary');
  }

  &--secondary-accent {
    @include civic-button-type('secondary-accent');
  }

  &--large {
    @include civic-button-size('large');
  }

  &--normal {
    @include civic-button-size('normal');
  }

  &--small {
    @include civic-button-size('small');
  }
}
