{#
/**
 * @file
 * CivicTheme implementation to display a Date field.
 */
#}
{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
      {% for item in items %}
        {% include 'civictheme:paragraph' with {
          content: item.content,
        } only %}
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      {% include 'civictheme:paragraph' with {
        content: item.content,
      } only %}
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    {% include 'civictheme:label' with {
      content: label,
    } only %}
    {% if multiple %}
    <div>
      {% endif %}
      {% for item in items %}
        {% include 'civictheme:paragraph' with {
          content: item.content,
        } only %}
      {% endfor %}
      {% if multiple %}
    </div>
    {% endif %}
  </div>
{% endif %}
