//
// Footer component.
//

.ct-footer {
  $root: &;

  @include ct-print-hide();
  @include ct-background();

  &__top {
    .row {
      padding-top: ct-space(4);
      padding-bottom: ct-space(2);

      @include ct-breakpoint(m) {
        padding-top: ct-space(5);
        padding-bottom: ct-space(5);
        border-bottom: solid rem(1px) transparent;
      }
    }
  }

  &__top__content-top1 {
    // stylelint-disable-line block-no-empty
  }

  &__top__content-top2 {
    @include ct-breakpoint-upto(m) {
      margin-top: ct-space(3);
    }
  }

  &__middle {
    .row {
      padding-top: ct-space(2);
      padding-bottom: ct-space(2);

      @include ct-breakpoint(m) {
        padding-top: ct-space(5);
        padding-bottom: ct-space(5);
        border-bottom: solid rem(1px) transparent;
      }
    }
  }

  &__middle__content-middle1 {
    // stylelint-disable-line block-no-empty
  }

  &__middle__content-middle2 {
    // stylelint-disable-line block-no-empty
  }

  &__middle__content-middle3 {
    // stylelint-disable-line block-no-empty
  }

  &__middle__content-middle4 {
    // stylelint-disable-line block-no-empty
  }

  &__bottom {
    padding-top: ct-space(2);
    padding-bottom: ct-space(4);

    @include ct-breakpoint(m) {
      padding-top: ct-space(5);
      padding-bottom: ct-space(5);
    }
  }

  &__bottom__content-bottom1 {
    // stylelint-disable-line block-no-empty
  }

  &__bottom__content-bottom2 {
    @include ct-breakpoint-upto(m) {
      margin-top: ct-space(3);
    }
  }

  .ct-logo {
    max-width: rem($ct-footer-logo-mobile-width);

    @include ct-breakpoint('m') {
      max-width: rem($ct-footer-logo-desktop-width);
    }
  }

  .copyright {
    @include ct-breakpoint('m') {
      text-align: right;
    }
  }

  .ct-social-links {
    @include ct-breakpoint('m') {
      justify-content: flex-end;
    }
  }

  .ct-navigation {
    @include ct-breakpoint-upto(m) {
      margin-bottom: ct-space(3);
    }
  }

  [data-collapsible='true'] {
    margin-bottom: 0;

    [data-collapsible-trigger] {
      padding: ct-space(2) ct-space();
      margin-bottom: 0;
    }

    [data-collapsible-panel] {
      padding-left: ct-space();
      padding-right: ct-space();
    }
  }

  &.ct-theme-light {
    background-color: $ct-footer-light-background-color;
    color: $ct-footer-light-color;

    #{$root}__top {
      .row {
        @include ct-breakpoint('m') {
          border-color: $ct-footer-light-border-color;
        }
      }
    }

    #{$root}__middle {
      .row {
        @include ct-breakpoint('m') {
          border-color: $ct-footer-light-border-color;
        }
      }
    }

    [data-collapsible='true'] {
      border-top: solid rem(1px) $ct-footer-light-collapsible-border-color;
    }
  }

  &.ct-theme-dark {
    background-color: $ct-footer-dark-background-color;
    color: $ct-footer-dark-color;

    #{$root}__top {
      .row {
        @include ct-breakpoint('m') {
          border-color: $ct-footer-dark-border-color;
        }
      }
    }

    #{$root}__middle {
      .row {
        @include ct-breakpoint('m') {
          border-color: $ct-footer-dark-border-color;
        }
      }
    }

    [data-collapsible='true'] {
      border-top: solid rem(1px) $ct-footer-dark-collapsible-border-color;
    }
  }
}
