# Ignore compiled files.
dist/**/*.*
!dist/.gitkeep

# Yarn/NPM
node_modules/
yarn.lock

# Storybook
storybook-static/**/*.*
!storybook-static/.gitkeep

# System
.DS_Store

# Git deploy
.publish

# Composer
composer.lock
/vendor/

# Jest
.coverage
