{#
/**
 * @file
 * Attachment component.
 *
 * Variables:
 * - content_top: [string] Content slot.
 * - title: [string] attachment title.
 * - content: [string] attachment content.
 * - links: [array] Array of links containing:
 *   - text: [string] Text.
 *   - url: [string] Link URL.
 *   - icon: [string] Icon name.
 *   - last_updated: [string] Last updated date.
 * - content_bottom: [string] Content slot.
 * - theme: [string] Theme: light, dark.
 * - vertical_spacing: [string] With top, bottom or both vertical spaces.
 * - with_background: [boolean] With background or not.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set with_background_class = with_background ? 'ct-attachment--with-background' : '' %}
{% set vertical_spacing_class = vertical_spacing in ['top', 'bottom', 'both'] ? 'ct-vertical-spacing-inset--%s'|format(vertical_spacing) : '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s %s'|format(theme_class, vertical_spacing_class, with_background_class, modifier_class|default('')) %}

{% if links is not empty %}
  <div class="ct-attachment {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-xxs-12">
          <div class="ct-attachment__wrapper">
            {% block content_top %}
              {% if content_top is not empty %}
                <div class="ct-attachment__content-top">
                  {{ content_top }}
                </div>
              {% endif %}
            {% endblock %}

            {% block content %}
              {% if title is not empty or content is not empty %}
                <div class="ct-attachment__inner">
                  {% if title is not empty %}
                    {% include '@atoms/heading/heading.twig' with {
                      theme: theme,
                      content: title,
                      level: 4,
                      modifier_class: 'ct-attachment__title'
                    } only %}
                  {% endif %}

                  {% if content is not empty %}
                    {% include '@atoms/paragraph/paragraph.twig' with {
                      theme: theme,
                      content: content,
                      size: 'small',
                      allow_html: true,
                      modifier_class: 'ct-attachment__content',
                    } only %}
                  {% endif %}
                </div>
              {% endif %}
            {% endblock %}

            {% block links %}
              {% set link_items = [] %}
              {% for k, link in links %}
                {%- set link %}
                  {% include '@base/icon/icon.twig' with {
                    symbol: link.icon ? link.icon : 'download-file',
                    size: 'large',
                    modifier_class: 'ct-attachment__links__link__icon',
                  } only %}

                  <div class="ct-attachment__links__link__details">
                    {% if link.ext is not empty and link.size is not empty %}
                      {% set extension = ' <span class="ct-attachment__links__link__extension">(%s, %s)</span>'|format(link.ext, link.size) %}
                    {% elseif link.ext is not empty or link.size is not empty %}
                      {% set extension = ' <span class="ct-attachment__links__link__extension">(%s)</span>'|format(link.ext ?? link.size) %}
                    {% endif %}

                    {% include '@atoms/link/link.twig' with {
                      theme: theme,
                      text: link.text ~ extension,
                      title: 'Download %s'|format(link.url|split('.')|last),
                      url: link.url,
                      modifier_class: 'ct-attachment__links__link'
                    } only %}

                    {% if link.last_updated is not empty %}
                      {% include '@atoms/paragraph/paragraph.twig' with {
                        theme: theme,
                        content: 'LAST UPDATED: ' ~ link.last_updated,
                        size: 'small',
                        modifier_class: 'ct-attachment__links__link__last-updated',
                      } only %}
                    {% endif %}
                  </div>
                {% endset -%}
                {% set link_items = link_items|merge([link]) %}
              {% endfor %}

              {% include '@base/item-list/item-list.twig' with {
                items: link_items,
                direction: 'vertical',
                modifier_class: 'ct-attachment__links',
              } only %}
            {% endblock %}

            {% block content_bottom %}
              {% if content_bottom is not empty %}
                <div class="ct-attachment__content-bottom">
                  {{ content_bottom }}
                </div>
              {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
