//
// Field description component.
//

.ct-field-description {
  $root: &;

  display: block;
  margin-bottom: ct-spacing();

  &,
  &--regular {
    @include ct-typography('text-small');
  }

  &--large {
    @include ct-typography('text-regular');
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, color);
  }
}
