{#
/**
* @file
* Back to top component.
*
* Variables:
* - theme: [string] theme: light, dark.
*/
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}

<div class="civic-back-to-top {{ theme_class }}">
  <a class="civic-back-to-top__button" href="#civic-top-of-page">
    {% include '@atoms/icon/icon.twig' with {
      symbol: 'arrows_uparrow_1',
    } only %}
  </a>
</div>
