//
// List list.
//

.civic-link-list {
  $root: &;

  #{$root}__title {
    font-weight: bold;
    margin-bottom: civic-space(2);
  }

  &--embedded,
  #{$root}__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &--embedded li,
  #{$root}__list__item {
    margin-bottom: civic-space(2);
  }

  &--inline {
    display: flex;

    #{$root}__title {
      margin-right: civic-space(2);
      margin-bottom: auto;
    }

    #{$root}__list {
      display: flex;
    }

    #{$root}__list__item {
      margin-right: civic-space(2);
      margin-bottom: auto;
    }
  }

  &--embedded {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: civic-space(2);
    }
  }
}
