//
// Select component.
//

.civictheme-select {
  $root: &;

  @include civictheme-typography('text-regular');

  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $civictheme-select-border-radius;
  min-width: rem(300px);
  min-height: rem(46px);

  &[disabled] {
    pointer-events: none;
    opacity: 50%;
  }

  &.civictheme-theme-light {
    color: $civictheme-select-light-color;
    background-color: $civictheme-select-light-background-color;

    &:hover {
      box-shadow: 0 0 0 1px $civictheme-select-light-hover-border-color;
    }

    &:active,
    &:focus {
      border-color: $civictheme-select-light-focus-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-light-focus-border-color;
    }

    &:invalid,
    &.error,
    &.civictheme-input--error {
      border-color: $civictheme-select-light-error-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-light-error-border-color;
    }
  }

  &.civictheme-theme-dark {
    color: $civictheme-select-dark-color;
    background-color: $civictheme-select-dark-background-color;
    border-color: $civictheme-select-dark-border-color;

    &:hover {
      border-color: $civictheme-select-dark-hover-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-dark-hover-border-color;
    }

    &:active,
    &:focus {
      border-color: $civictheme-select-dark-focus-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-dark-focus-border-color;
    }

    &:invalid,
    &.error,
    &.civictheme-input--error {
      border-color: $civictheme-select-dark-error-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-dark-error-border-color;
    }
  }
}
