//
// Basic Content component.
//

.ct-basic-content {
  @include ct-content();

  &.ct-content--vertical-space-top {
    @include ct-component-with-vertical-space(top, $ct-basic-content-space-vertical);
  }

  &.ct-content--vertical-space-bottom {
    @include ct-component-with-vertical-space(bottom, $ct-basic-content-space-vertical);
  }

  &.ct-content--vertical-space-both {
    @include ct-component-with-vertical-space(both, $ct-basic-content-space-vertical);
  }

  &.ct-theme-light {
    @include ct-content-light();

    &.ct-content--with-background {
      background-color: $ct-basic-content-light-wrapper-background-color;
      padding-left: $ct-basic-content-space-horizontal;
      padding-right: $ct-basic-content-space-horizontal;
    }
  }

  &.ct-theme-dark {
    @include ct-content-dark();

    &.ct-content--with-background {
      background-color: $ct-basic-content-dark-wrapper-background-color;
      padding-left: $ct-basic-content-space-horizontal;
      padding-right: $ct-basic-content-space-horizontal;
    }
  }
}
