//
// Label component.
//

@use 'sass:map';
@use 'sass:string';

.ct-field-label {
  $root: &;

  display: block;
  margin-bottom: ct-spacing();

  @include ct-typography('label-regular');

  &--required {
    &::after {
      content: ' (Required)';

      @include ct-typography('label-small');
    }
  }

  @each $name in map.keys(_ct-typography-all()) {
    @if string.index(#{$name}, 'label-') {
      $size: string.slice(#{$name}, 6, 100);
      &.ct-field-label-#{$size} {
        @include ct-typography($name);
      }
    }
  }

  &.ct-theme-light {
    color: $ct-field-label-light-color;

    #{$root}--required {
      &::after {
        color: $ct-field-label-light-required-color;
      }
    }
  }

  &.ct-theme-dark {
    color: $ct-field-label-dark-color;

    #{$root}--required {
      &::after {
        color: $ct-field-label-dark-required-color;
      }
    }
  }
}
