//
// Label component.
//

@use 'sass:map';
@use 'sass:string';

.civictheme-field-label {
  $root: &;

  display: block;
  margin-bottom: civictheme-space();

  @include civictheme-typography('label-regular');

  &--required {
    &::after {
      content: ' (Required)';

      @include civictheme-typography('label-small');
    }
  }

  @each $name in map.keys(_civictheme-typography-all()) {
    @if string.index(#{$name}, 'label-') {
      $size: string.slice(#{$name}, 6, 100);
      &.civictheme-field-label-#{$size} {
        @include civictheme-typography($name);
      }
    }
  }

  &.civictheme-theme-light {
    color: $civictheme-field-label-light-color;

    #{$root}--required {
      &::after {
        color: $civictheme-field-label-light-required-color;
      }
    }
  }

  &.civictheme-theme-dark {
    color: $civictheme-field-label-dark-color;

    #{$root}--required {
      &::after {
        color: $civictheme-field-label-dark-required-color;
      }
    }
  }
}
