//
// Next Steps component.
//

.ct-next-steps {
  $root: &;

  display: block;
  position: relative;
  text-decoration: none;

  &.ct-next-steps--vertical-space-top {
    @include ct-component-with-vertical-space(top, $ct-next-steps-space-vertical);
  }

  &.ct-next-steps--vertical-space-bottom {
    @include ct-component-with-vertical-space(bottom, $ct-next-steps-space-vertical);
  }

  &.ct-next-steps--vertical-space-both {
    @include ct-component-with-vertical-space(both, $ct-next-steps-space-vertical);
  }

  &__content {
    display: block;
    position: relative;
    border-radius: $ct-next-steps-border-radius;
    border-left-width: ct-space(0.75);
    border-left-style: solid;
    padding: ct-space(3) ct-space(3);

    @include ct-breakpoint(m) {
      padding: ct-space(3) ct-space(5) ct-space(4) ct-space(3);
    }
  }

  &__title {
    @include ct-typography('heading-4');
  }

  &__summary {
    margin-top: ct-space(2);

    @include ct-typography('text-regular');
  }

  &__read-more {
    position: absolute;
    top: ct-space(3);
    right: ct-space(2);

    @include ct-breakpoint(m) {
      right: ct-space(4);
    }
  }

  &.ct-theme-light {
    #{$root}__content {
      color: $ct-next-steps-light-color;
      background-color: $ct-next-steps-light-background-color;
      border-left-color: $ct-next-steps-light-stripe-color;
    }

    &:focus {
      @include ct-outline(false);
    }

    &:hover {
      #{$root}__title {
        color: $ct-next-steps-light-hover-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .ct-icon {
          fill: $ct-next-steps-light-hover-color;
        }
      }
    }

    &:active {
      .ct-next-steps__title {
        color: $ct-next-steps-light-active-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .ct-icon {
          fill: $ct-next-steps-light-active-color;
        }
      }
    }

    #{$root}__title {
      color: $ct-next-steps-light-heading-color;
    }

    #{$root}__read-more {
      .ct-icon {
        fill: $ct-next-steps-light-icon-color;
      }
    }
  }

  &.ct-theme-dark {
    #{$root}__content {
      color: $ct-next-steps-dark-color;
      background-color: $ct-next-steps-dark-background-color;
      border-left-color: $ct-next-steps-dark-stripe-color;
    }

    &:focus {
      @include ct-outline(true);
    }

    &:hover {
      #{$root}__title {
        color: $ct-next-steps-dark-hover-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .ct-icon {
          fill: $ct-next-steps-dark-hover-color;
        }
      }
    }

    &:active {
      #{$root}__title {
        color: $ct-next-steps-dark-active-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .ct-icon {
          fill: $ct-next-steps-dark-active-color;
        }
      }
    }

    #{$root}__title {
      color: $ct-next-steps-dark-heading-color;
    }

    #{$root}__read-more {
      .ct-icon {
        fill: $ct-next-steps-dark-icon-color;
      }
    }
  }
}
