@use 'sass:math';
@import '../../00-base/base';

.civic-mobile-navigation-link {
  $root: &;
  display: flex;
  background: none;
  border-bottom: none;
  text-decoration: none;
  justify-content: space-between;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: civic-space();
  }

  &,
  &.civic-theme-light {
    color: $civic-mobile-navigation-link-light-color;
    border-bottom: 1px solid $civic-mobile-navigation-link-light-border-color;

    #{$root}__link {
      display: block;
      color: $civic-mobile-navigation-link-light-color;
      padding: math.div(civic-space(3), 2) civic-space();
      @include civic-typography($civic-mobile-navigation-link-typography);

      &:hover {
        color: $civic-mobile-navigation-link-light-color-hover;
      }

      &:focus {
        color: $civic-mobile-navigation-link-light-color-focus;
      }

      &:visited {
        color: $civic-mobile-navigation-link-light-color-visited;
      }
    }

    #{$root}__icon .civic-icon {
      fill: $civic-mobile-navigation-link-light-icon-color;
    }
  }

  &.civic-theme-dark {
    color: $civic-mobile-navigation-link-dark-color;
    border-bottom: 1px solid $civic-mobile-navigation-link-dark-border-color;

    #{$root}__link {
      color: $civic-mobile-navigation-link-dark-color;

      &:hover {
        color: $civic-mobile-navigation-link-dark-color-hover;
      }

      &:focus {
        color: $civic-mobile-navigation-link-dark-color-focus;
      }

      &:visited {
        color: $civic-mobile-navigation-link-dark-color-visited;
      }
    }

    #{$root}__icon .civic-icon {
      fill: $civic-mobile-navigation-link-dark-icon-color;
    }
  }
}
