//
// CivicTheme Quote component.
//

.civictheme-quote {
  $root: &;

  @include civictheme-reset-box-model();
  @include civictheme-highlight-stripe($civictheme-quote-border-width, 0, 0);

  position: relative;
  padding-left: civictheme-space(2);

  &#{$root}--vertical-space-top {
    @include civictheme-component-with-vertical-space(top, $civictheme-quote-space-vertical, $is_padding: false);
  }

  &#{$root}--vertical-space-bottom {
    @include civictheme-component-with-vertical-space(bottom, $civictheme-quote-space-vertical, $is_padding: false);
  }

  &#{$root}--vertical-space-both {
    @include civictheme-component-with-vertical-space(both, $civictheme-quote-space-vertical, $is_padding: false);
  }

  &__content {
    @include civictheme-typography('quote');

    margin-bottom: 0;
  }

  &__author {
    @include civictheme-typography('label-extra-small');

    padding: 0 civictheme-space(3) civictheme-space(3);

    &::before {
      content: '-';
      margin-right: civictheme-space(0.5);
    }
  }

  &.civictheme-theme-light {
    background-color: $civictheme-quote-light-background-color;
    color: $civictheme-quote-light-body-color;

    @include civictheme-highlight-stripe-color($civictheme-quote-light-border-color);

    #{$root}__author {
      color: $civictheme-quote-light-author-color;
    }
  }

  &.civictheme-theme-dark {
    background-color: $civictheme-quote-dark-background-color;
    color: $civictheme-quote-dark-body-color;

    @include civictheme-highlight-stripe-color($civictheme-quote-dark-border-color);

    #{$root}__author {
      color: $civictheme-quote-dark-author-color;
    }
  }
}
