//
// Navigation card.
//
@import "../../00-base/base";

.civic-nav-card {
  text-decoration: none;
  box-shadow: 0 rem(8px) rem(32px) rgba(0, 0, 0, 0.2);

  &.civic-theme-light {

    &:focus {
      @include civic-outline(false);
    }

    &:hover {
      background-color: unset;
      text-decoration: none;

      .civic-heading {
        color: civic-color(secondary-accent);
        text-decoration: underline;
      }

      .civic-nav-card__read-more {
        .civic-icon {
          fill: civic-color(secondary-accent);
        }
      }
    }

    &:active {
      .civic-heading {
        color: civic-color(shade_60);
        text-decoration: underline;
      }

      .civic-nav-card__read-more {
        .civic-icon {
          fill: civic-color(shade_60);
        }
      }
    }

    .civic-nav-card__content {
      position: relative;
    }

    .civic-heading {
      color: civic-color(heading);
    }

    .civic-nav-card__summary {
      color: civic-color('body');

      @include civic-breakpoint(xs) {
        @include civic-typography((14px, 25px, 400, 'primary'));
      }

      @include civic-breakpoint(m) {
        @include civic-typography((16px, 28px, 400, 'primary'));
      }
    }

    .civic-nav-card__read-more {
      position: absolute;

      @include civic-breakpoint(xs) {
        top: rem(20px);
        right: rem(12px);
      }

      @include civic-breakpoint(m) {
        top: civic-space(3);
        right: civic-space(2);
      }
    }

    &.civic-nav-card--large,
    &.civic-nav-card--small {
      @include civic-breakpoint(m) {
        display: flex;
      }
    }

    &.civic-nav-card--large {
      .civic-nav-card__content {
        @include civic-breakpoint(xs) {
          padding: rem(20px) civic-space(6) civic-space(3) rem(20px);
        }

        @include civic-breakpoint(m) {
          padding: civic-space(3) civic-space(6) rem(20px) civic-space(3);
        }
      }

      .civic-nav-card__image-wrapper {
        @include civic-breakpoint(m) {
          max-width: rem(200px);
        }
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &.civic-nav-card--small {
      .civic-nav-card__content {
        @include civic-breakpoint(xs) {
          padding: rem(20px) rem(52px) rem(26px) rem(20px);
        }

        @include civic-breakpoint(m) {
          padding: civic-space(3) civic-space(7) civic-space(4) civic-space(3);
        }
      }
    }

    &.civic-nav-card--icon {
      display: block;

      @include civic-breakpoint(xs) {
        padding: civic-space(2);
        padding-right: 0;
      }

      @include civic-breakpoint(m) {
        padding: civic-space(3);
        padding-right: 0;
      }

      .civic-nav-card__icon {
        .civic-icon {
          @include civic-breakpoint(xs) {
            width: rem(40px);
            height: rem(40px);
          }

          @include civic-breakpoint(m) {
            width: rem(48px);
            height: rem(48px);
          }
        }
      }

      .civic-nav-card__content {
        @include civic-breakpoint(xs) {
          padding: 0 civic-space(2) 0 0;
        }

        @include civic-breakpoint(m) {
          padding: 0 civic-space(3) 0 0;
        }
      }

      .civic-nav-card__read-more {
        top: 0;
      }
    }
  }
}
