{#
/**
 * @file
 * Link List component.
 *
 * Variables:
 * - type: [string] Type: horizontal, vertical. Defaults to horizontal.
 * - size: [string] Size: large, regular, small. Defaults to regular.
 * - no_gutter: [boolean] Render without gutters.
 * - items: [array] Items array
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set type = type|default('horizontal') %}
{% set size = size|default('regular') %}
{% set type_class = 'ct-item-list--%s'|format(type) %}
{% set size_class = 'ct-item-list--%s'|format(size) %}
{% set no_gutter_class = no_gutter ? 'ct-item-list--no-gutter' : '' %}
{% set modifier_class = '%s %s %s %s'|format(type_class, size_class, no_gutter_class, modifier_class|default('')) %}

{% if items %}
  <ul class="ct-item-list {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
    {% for item in items %}
      {% if item is not empty %}
        <li class="ct-item-list__item">
          {{ item }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
