//
// Item List component.
//

@import '../mixins/reset';

.ct-item-list {
  $root: &;

  #{$root}__list {
    @include ct-reset-box-model();

    list-style: none;
  }

  &--horizontal {
    #{$root}__list {
      display: flex;
    }

    #{$root}__list__item {
      margin-right: ct-space(2);
    }
  }

  &--vertical {
    #{$root}__list {
      display: inline-block;
    }

    #{$root}__list__item {
      margin-bottom: ct-space(2);
    }
  }
}
