//
// Item List component.
//

@import '../mixins/reset';

.ct-item-list {
  $root: &;

  #{$root}__list {
    @include ct-reset-box-model();

    list-style: none;
  }

  &#{$root}--horizontal {
    #{$root}__list {
      display: flex;
      column-gap: ct-spacing(2);
      row-gap: ct-spacing(2);
      flex-wrap: wrap;
    }

    &#{$root}--small {
      #{$root}__list {
        column-gap: ct-spacing(1);
        row-gap: ct-spacing(1);
      }
    }

    &#{$root}--large {
      #{$root}__list {
        column-gap: ct-spacing(4);
        row-gap: ct-spacing(4);
      }
    }

    &#{$root}--no-gutter {
      #{$root}__list {
        gap: unset;
      }
    }
  }

  &#{$root}--vertical {
    #{$root}__list {
      display: flex;
      flex-direction: column;
      column-gap: ct-spacing(2);
      row-gap: ct-spacing(2);
    }

    &#{$root}--small {
      #{$root}__list {
        column-gap: ct-spacing(1);
        row-gap: ct-spacing(1);
      }
    }

    &#{$root}--large {
      #{$root}__list {
        column-gap: ct-spacing(4);
        row-gap: ct-spacing(4);
      }
    }

    &#{$root}--no-gutter {
      #{$root}__list {
        gap: unset;
      }
    }
  }
}
