//
// Item List component.
//

@import '../mixins/reset';

.ct-item-list {
  $root: &;

  #{$root}__list {
    @include ct-reset-box-model();

    list-style: none;
  }

  &--horizontal {
    #{$root}__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: ct-spacing(2);
      row-gap: ct-spacing(2);
    }

    &#{$root}--no-gap {
      #{$root}__list {
        column-gap: 0;
        row-gap: 0;
      }
    }
  }

  &--vertical {
    #{$root}__list {
      display: inline-block;
    }

    #{$root}__list__item {
      margin-bottom: ct-spacing(2);
    }

    &#{$root}--no-gap {
      #{$root}__list__item {
        margin-bottom: 0;
      }
    }
  }
}
