{#
/**
 * @file
 * Link List component.
 *
 * Variables:
 * - direction: [string] Direction: horizontal, vertical.
 * - no_gap: [boolean] Render without gaps.
 * - items: [array] Items array
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set direction_class = 'ct-item-list--%s'|format(direction|default('vertical')) %}
{% set no_gap_class = no_gap ? 'ct-item-list--no-gap' : '' %}
{% set modifier_class = '%s %s %s'|format(direction_class, no_gap_class, modifier_class|default('')) %}

{% if items is not empty %}
  <div class="ct-item-list {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
    {% block items %}
      <ul class="ct-item-list__list">
        {% for item in items %}
          {% if item is not empty %}
            <li class="ct-item-list__list__item">
              {{ item }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endblock %}
  </div>
{% endif %}
