/**
 * @file
 * CivicTheme theme settings generic styles.
 */

/* Layout. */
.civictheme-layout-2col > div {
  display: flex;
  column-gap: 1em;
  flex-direction: row;
}

.civictheme-layout-2col > div > * {
  flex: 1;
}

.civictheme-layout-cols > div {
  display: flex;
  column-gap: 2em;
  flex-flow: row wrap;
  row-gap: 1em;
}

/* Resets. */
.civictheme-reset-fieldset {
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 1em !important;
}

.civictheme-reset-fieldset > *,
.civictheme-reset-fieldset > * > fieldset {
  margin: 0 !important;
  padding: 0 !important;
}

.civictheme-reset-fieldset > legend > .fieldset__label {
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
