//
// Radio component.
//

@import '../../00-base/mixins/form';

.civictheme-radio {
  $root: &;

  position: absolute;
  display: flex;
  align-items: center;

  .civictheme-radio__element {
    @include civictheme-checkbox-radio('radio');
  }

  #{$root}__label {
    @include civictheme-typography('text-regular');
  }

  &.civictheme-theme-light {
    #{$root}__label {
      color: $civictheme-radio-label-light-color;

      &.disabled {
        color: $civictheme-radio-label-disabled-light-color;
      }
    }
  }

  &.civictheme-theme-dark {
    #{$root}__label {
      color: $civictheme-radio-label-dark-color;

      &.disabled {
        color: $civictheme-radio-label-disabled-dark-color;
      }
    }
  }
}

.radios--wrapper {
  @include civictheme-typography('text-regular');
}
