//
// Radio component.
//

@import '../../00-base/mixins/form';

.civictheme-radio {
  position: absolute;
  display: flex;
  align-items: center;

  .civictheme-radio__element {
    @include civictheme-checkbox-radio('radio');
  }

  &__label {
    @include civictheme-typography('text-regular');
  }
}

.radios--wrapper {
  @include civictheme-typography('text-regular');
}
