//
// Item grid component.
//

.civictheme-item-grid {
  $root: &;

  &--fill-width {
    [class*='col-'] {
      max-width: 100%;
      flex-grow: 1;
    }
  }

  &__item {
    display: flex;
    margin-bottom: civictheme-space(3);
  }

  &__items {
    // stylelint-disable-line block-no-empty
  }

  &--list {
    // stylelint-disable-line block-no-empty
  }
}
