<div class="story-elevation-wrapper">
  {% for i in 1..4 %}
    <div class="story-container">
      <div class="story-container__title">Elevation {{ i }}</div>
      <div class="story-container__content story-elevation--{{ i }}"></div>
    </div>
  {% endfor %}
</div>
