{% extends '@civic-organisms/header/header.twig' %}

{% block content_middle2 %}
  <div class="col-xs-12 col-m-3">
    <div class="civic-header__content-middle2">
      {{ content_middle2 }}
    </div>
  </div>
{% endblock %}

{% block content_middle3 %}
  <div class="col-xs-12 col-m-6">
    <div class="civic-header__content-middle3">
      {{ content_middle3 }}
    </div>
  </div>
  <div class="col-xs-12 col-m-3">
    {% include '@atoms/button/button.twig' with {
      'theme': theme,
      'kind': 'link',
      'type': 'primary',
      'size': 'large',
      'text': 'Subscribe',
      'url': 'https://www.example.com',
    } %}
  </div>
{% endblock %}
