//
// Form Element component.
//

.ct-form-element {
  $root: &;

  margin-bottom: ct-spacing(2);

  &:last-child {
    margin-bottom: 0;
  }

  #{$root}__element {
    box-sizing: border-box;
    width: 100%;
  }

  &--vertical {
    #{$root}__label,
    #{$root}__description,
    #{$root}__element,
    #{$root}__mesage {
      margin-bottom: ct-spacing();
    }
  }

  &--horizontal {
    display: flex;
    align-items: baseline;

    #{$root}__label {
      margin-right: ct-spacing();
      text-align: right;
    }

    #{$root}__description,
    #{$root}__element,
    #{$root}__mesage {
      margin-bottom: ct-spacing();
    }
  }
}
