{#
/**
 * @file
 * Popover component story.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if content %}
  <div class="{{ modifier_class }}" data-popover>
    <button data-popover-trigger data-popover-trigger-event="{{ trigger_event }}">
      TRIGGER ({{ trigger_event }} me)
    </button>
    <div data-popover-content>
      <div class="story-placeholder">Content placeholder</div>
    </div>
  </div>
{% endif %}
