{% for content in contents %}
  <div class="example-container">
    {% include '@atoms/popover/popover.twig' with {
        theme: theme,
        trigger_event:trigger_event,
        trigger_text: trigger_text,
        content: content,
        attributes: attributes,
        modifier_class: modifier_class,
    } only %}
  </div>
{% endfor %}
