//
// Layout component.
//

.civictheme-layout {
  $root: &;

  &.civictheme-layout--vertical-space-top {
    #{$root}__inner {
      @include civictheme-component-with-vertical-space(top, $civictheme-layout-space-vertical, $is_padding: false);
    }
  }

  &.civictheme-layout--vertical-space-bottom {
    #{$root}__inner {
      @include civictheme-component-with-vertical-space(bottom, $civictheme-layout-space-vertical, $is_padding: false);
    }
  }

  &.civictheme-layout--vertical-space-both {
    #{$root}__inner {
      @include civictheme-component-with-vertical-space(both, $civictheme-layout-space-vertical, $is_padding: false);
    }
  }

  &__sidebar {
    @include civictheme-print-hide();
  }

  &__main {
    @include civictheme-print() {
      flex-basis: 100% !important;
      max-width: 100%;
      margin-left: 0;
    }
  }

  &.civictheme-theme-light {
    #{$root}__inner {
      background: $civictheme-layout-light-background-color;
    }
  }

  &.civictheme-theme-dark {
    #{$root}__inner {
      background: $civictheme-layout-dark-background-color;
    }
  }
}
