//
// Layout component.
//

.ct-layout {
  $root: &;

  &.ct-layout--vertical-space-top {
    #{$root}__inner {
      @include ct-component-with-vertical-space(top, $ct-layout-space-vertical, $is_padding: false);
    }
  }

  &.ct-layout--vertical-space-bottom {
    #{$root}__inner {
      @include ct-component-with-vertical-space(bottom, $ct-layout-space-vertical, $is_padding: false);
    }
  }

  &.ct-layout--vertical-space-both {
    #{$root}__inner {
      @include ct-component-with-vertical-space(both, $ct-layout-space-vertical, $is_padding: false);
    }
  }

  &__sidebar {
    @include ct-print-hide();
  }

  &__main {
    @include ct-print() {
      flex-basis: 100% !important;
      max-width: 100%;
      margin-left: 0;
    }
  }

  &.ct-theme-light {
    #{$root}__inner {
      background: $ct-layout-light-background-color;
    }
  }

  &.ct-theme-dark {
    #{$root}__inner {
      background: $ct-layout-dark-background-color;
    }
  }
}
