//
// Heading component.
//

@for $level from 1 through 6 {
  h#{$level} {
    &.civictheme-heading {
      @include civictheme-typography('heading-#{$level}');

      &.civictheme-theme-light {
        color: $civictheme-heading-light-color;

        &:focus {
          @include civictheme-outline();
        }

        &:hover {
          // @todo - the heading style changes on hover, even though it's not an interactive element - is this correct?
          background-color: $civictheme-heading-light-hover-background-color;
          color: $civictheme-heading-light-hover-color;
        }
      }

      &.civictheme-theme-dark {
        color: $civictheme-heading-dark-color;

        &:focus {
          @include civictheme-outline(true);
        }

        &:hover {
          background-color: $civictheme-heading-dark-hover-background-color;
          color: $civictheme-heading-dark-hover-color;
        }
      }
    }
  }
}
