{#
/**
 * @file
 * CivicTheme implementation to display a one-column contained layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - modifier_class: CSS modifying class
 *
 * @deprecated in CivicTheme 1.8.0, will be removed in CivicTheme 1.9.0. Use
 * layout--three-columns.html.twig instead.
 */
#}

{% if content %}
  <main class="ct-layout">
    <div class="ct-layout__inner container">
      {% block content %}
        <section class="ct-layout__main ct-layout__content {{ modifier_class }}">
          {{ content }}
        </section>
      {% endblock %}
    </div>
  </main>
{% endif %}

