{#
/**
 * @file Menu component.
 *
 * Available variables:
 * - theme: [string] Theme: light, dark.
 * - items: [array] Menu links array.
 */
#}

{% set classes = [] %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = 'civic-mobile-navigation %s %s'|format(theme_class, modifier_class|default('')) %}

<div class="civic-mobile-navigation {{ modifier_class }}" data-component-name="civic-mobile-navigation">
  <div class="civic-mobile-navigation__wrapper">
    {% if items is not empty %}
      {% for key in items|keys %}
        {% if items[key].below %}
          {% set item_modifier_class = 'civic-mobile-navigation__item civic-mobile-navigation__item--has-submenu' %}
        {% else %}
          {% set item_modifier_class = 'civic-mobile-navigation__item' %}
        {% endif %}
        {% set new_item = items[key]|merge({'modifier_class': item_modifier_class }) %}
        {% set items = items|merge({(key): new_item}) %}
      {% endfor %}

      {% include '@organisms/mobile-navigation/mobile-menu.twig' with {
        theme: theme,
        items: items,
        modifier_class: modifier_class,
        parent_link: null,
      } only %}
    {% endif %}
    {% if block('content_bottom') is defined %}
        <div class="civic-mobile-navigation__content-bottom">
          {%- block content_bottom %}
            {{- content_bottom -}}
          {% endblock -%}
        </div>
    {% endif %}
  </div>
</div>
