//
// Mobile Navigation.
//

@import '../../00-base/base';

$civic-mobile-navigation-close-typography: (14px, 20px, 400, 'primary', 0);
$civic-mobile-navigation-parent-link-typography: (20px, 25px, 800, 'primary', 0);
$civic-mobile-navigation-light-back-arrow-icon-color: civic-color('shade_80');
$civic-mobile-navigation-light-close-color: civic-color('shade_80');
$civic-mobile-navigation-light-parent-link-color: civic-color('shade_80');
$civic-mobile-navigation-dark-back-arrow-icon-color: civic-color('neutral');
$civic-mobile-navigation-dark-close-color: civic-color('neutral');
$civic-mobile-navigation-dark-parent-link-color: civic-color('neutral');

// Mobile Navigation.
.civic-mobile-navigation {
  $root: &;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: civic-space(2);
  list-style: none;
  &.civic-mobile-navigation--expanded .civic-dropdown__menu--expanded {
    z-index: 1;
  }

  &--expanded {
    display: block;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: white;
    @include civic-breakpoint($civic-header-desktop-menu-breakpoint) {
      position: static;
      height: auto;
      top: initial;
      left: initial;
    }

    .civic-mobile-navigation--main {
      display: block;
    }
    .civic-dropdown__menu--expanded {
      .civic-menu__sub-menu {
        box-shadow: none;
        width: 100%;
      }
    }
  }

  #{$root}__submenu {
    padding: 0;
  }
  #{$root}__submenu-menu {
    padding: civic-space(2) 0;
    margin: 0;
    list-style: none;
  }
  #{$root}__parent-link {
    @include civic-typography($civic-mobile-navigation-parent-link-typography);
  }
  #{$root}__close {
    @include civic-typography($civic-mobile-navigation-close-typography);
    text-decoration: none;
    position: absolute;
    top: civic-space(2);
    right: civic-space(2);
    align-items: center;
    display: flex;
  }

  #{$root}__select-arrow {
    display: block;
    position: absolute;
    bottom: 0;
    right: civic-space(1);
    cursor: pointer;
  }
  &,
  &.civic-theme-light {
    #{$root}__back-arrow {
      fill: $civic-mobile-navigation-light-back-arrow-icon-color;
    }
    #{$root}__close {
      color: $civic-mobile-navigation-light-close-color;
    }
    #{$root}__parent-link {
      color: $civic-mobile-navigation-light-parent-link-color;
    }
  }
  &.civic-theme-dark {
    #{$root}__back-arrow {
      fill: $civic-mobile-navigation-dark-back-arrow-icon-color;
    }
    #{$root}__close {
      color: $civic-mobile-navigation-dark-close-color;
    }
    #{$root}__parent-link {
      color: $civic-mobile-navigation-dark-parent-link-color;
    }
  }
}
