//
// Mobile Navigation.
//
@use 'sass:math';
@import '../../00-base/base';
@import '../../02-molecules/flyout/flyout';

// Mobile Navigation.
.civic-mobile-navigation {
  $root: &;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: calc(100vh);
  width: 100%;
  overflow: auto;

  &__content-top {
    padding: civic-space(2);
  }

  &__content-bottom {
    position: fixed;
    width: calc(100vw - #{civic-space(6)});
    bottom: 0;
    left: 0;
    padding: civic-space(4) civic-space(3) civic-space(8);
  }

  &.civic-mobile-navigation--expanded .civic-dropdown__menu--expanded {
    z-index: 1;
  }

  &--expanded {
    display: block;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;

    .civic-mobile-navigation--main {
      display: block;
    }

    .civic-dropdown__menu--expanded {
      .civic-menu__sub-menu {
        box-shadow: none;
        width: 100%;
      }
    }
  }

  .civic-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__parent-link {
    @include civic-typography($civic-mobile-navigation-parent-link-typography);

    margin: civic-space() 0 civic-space(3) 0;
  }

  &__back-button {
    display: block;
    text-decoration: none;
  }

  &__close {
    justify-content: end;
    display: flex;
    margin-bottom: civic-space(2);
  }

  &__close-button {
    @include civic-typography($civic-mobile-navigation-close-typography);

    text-decoration: none;
    align-items: center;
    display: flex;
    border-radius: 1rem;
    padding: math.div(civic-space(), 2) math.div(civic-space(), 2) math.div(civic-space(), 2) civic-space();
  }

  &.civic-theme-light {
    background-color: $civic-mobile-navigation-light-background-color;
    #{$root}__back-arrow {
      fill: $civic-mobile-navigation-light-back-arrow-icon-color;
    }
    #{$root}__close-button {
      background-color: $civic-mobile-navigation-light-close-background-color;
      color: $civic-mobile-navigation-light-close-color;
    }
    #{$root}__parent-link {
      color: $civic-mobile-navigation-light-parent-link-color;
    }
    #{$root}__content-bottom {
      background-color: $civic-mobile-navigation-light-content-bottom-background-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-mobile-navigation-dark-background-color;
    #{$root}__back-arrow {
      fill: $civic-mobile-navigation-dark-back-arrow-icon-color;
    }
    #{$root}__close-button {
      background-color: $civic-mobile-navigation-dark-close-background-color;
      color: $civic-mobile-navigation-dark-close-color;
    }
    #{$root}__parent-link {
      color: $civic-mobile-navigation-dark-parent-link-color;
    }
    #{$root}__content-bottom {
      background-color: $civic-mobile-navigation-dark-content-bottom-background-color;
    }
  }

  &__link.civic-directional-link {
    $root: &;

    display: flex;
    background: none;
    border-bottom: none;
    text-decoration: none;
    justify-content: space-between;
    padding: civic-space(2) civic-space();

    &.civic-theme-light {
      color: $civic-mobile-navigation-link-light-color;
      border-bottom: 1px solid $civic-mobile-navigation-link-light-border-color;
      display: flex;

      @include civic-typography($civic-mobile-navigation-link-typography);

      &:hover {
        color: $civic-mobile-navigation-link-light-color-hover;
      }

      &:focus {
        color: $civic-mobile-navigation-link-light-color-focus;
      }

      &:visited {
        color: $civic-mobile-navigation-link-light-color-visited;
      }

      .civic-icon {
        fill: $civic-mobile-navigation-link-light-icon-color;
      }
    }

    &.civic-theme-dark {
      color: $civic-mobile-navigation-link-dark-color;
      border-bottom: 1px solid $civic-mobile-navigation-link-dark-border-color;

      &:hover {
        color: $civic-mobile-navigation-link-dark-color-hover;
      }

      &:focus {
        color: $civic-mobile-navigation-link-dark-color-focus;
      }

      &:visited {
        color: $civic-mobile-navigation-link-dark-color-visited;
      }

      .civic-icon {
        fill: $civic-mobile-navigation-link-dark-icon-color;
      }
    }
  }
}
