//
// Civic input.
//

@import '../../00-base/base';

.civic-input {
  $root: &;

  &__label {
    display: block;
    margin-bottom: civic-space(1);
  }

  &__element {
    background-color: $civic-input-light-background-color;
    border: rem(1px) solid $civic-input-light-border-color;
    border-radius: rem(4px);
    padding: ($civic-space * 1.5) civic-space(5) ($civic-space * 1.5) civic-space(2);

    &:hover {
      border-color: $civic-input-light-border-hover-color;
    }

    &:focus {
      background-color: $civic-input-light-background-focus-color;
      color: $civic-input-light-text-focus-color;
      outline: $civic-input-light-outline-focus-color;
      border-color: $civic-input-light-border-focus-color;
    }

    &::placeholder {
      @include civic-typography('body');
    }
  }

  &--disabled {
    #{$root}__element {
      color: $civic-input-light-disabled-text-color;
      background-color: $civic-input-light-disabled-background-color;
    }
  }

  &__state {
    position: relative;
    margin-left: - civic-space(4);

    svg {
      width: civic-space(2);
      height: civic-space(2);
      vertical-align: middle;
    }
  }

  &--error {
    #{$root}__element {
      border-color: $civic-input-light-error-border-color !important;
    }

    #{$root}__state {
      svg {
        fill: $civic-input-light-error-icon-color;
      }
    }
  }

  &--success {
    #{$root}__element {
      border-color: $civic-input-light-success-border-color !important;
    }

    #{$root}__state {
      svg {
        fill: $civic-input-light-success-icon-color;
      }
    }
  }

  &.civic-theme-dark {
    color: $civic-input-dark-base-text-color;

    #{$root}__element {
      background-color: $civic-input-dark-background-color;
      color: $civic-input-dark-text-color;
      border-color: $civic-input-dark-border-color;

      &:hover {
        border-color: $civic-input-dark-border-hover-color;
      }

      &:focus {
        color: $civic-input-dark-text-focus-color;
        outline: $civic-input-dark-outline-focus-color;
        border-color: $civic-input-dark-border-focus-color;
      }
    }

    #{$root}__state {
      svg {
        fill: $civic-input-dark-icon-color;
      }
    }

    #{$root}--disabled {
      #{$root}__element {
        color: $civic-input-dark-disabled-text-color;
        background-color: $civic-input-dark-disabled-background-color;
      }
    }
  }
}
