//
// Callout.
//

@import '../../00-base/base';

.civic-promo-card {
  $root: &;
  position: relative;
  @include civic-box-shadow;
  border-radius: $civic-border-radius;

  &#{$root}--no-image {
    border-top: rem(6px) solid $civic-promo-card-border-top-color;
  }

  #{$root}__image-wrapper {
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  #{$root}__content {
    padding: civic-space(3);
  }

  #{$root}__date {
    @include civic-typography(small);
    margin-bottom: civic-space(2);
  }

  #{$root}__title {
    @include civic-typography(heading-5);
    margin-bottom: civic-space(2);
  }

  #{$root}__title-link {
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  #{$root}__summary {
    @include civic-typography(card-summary);
  }

  #{$root}__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: civic-space(3);
  }

  #{$root}__tag {
    @include civic-typography(tag);
    border-radius: $civic-border-radius;
    padding: rem(4px) civic-space(1);
  }

  &.civic-theme-light {
    background-color: $civic-promo-card-light-background-color;

    &:focus {
      @include civic-outline(false)
    }

    #{$root}__date {
      color: $civic-promo-card-light-date-color;
    }

    #{$root}__title {
      color: $civic-promo-card-light-heading-color;
    }

    #{$root}__title-link {
      color: $civic-promo-card-light-heading-color;
      &:hover {
        color: $civic-promo-card-light-color-hover;
      }
      &:active {
        color: $civic-promo-card-light-color-active;
      }
    }

    #{$root}__location,
    #{$root}__summary {
      color: $civic-promo-card-light-body-color;
    }

    #{$root}__tag {
      background-color: $civic-promo-card-light-tag-background-color;
      color: $civic-promo-card-light-tag-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-promo-card-dark-background-color;

    &:focus {
      @include civic-outline(true)
    }

    #{$root}__date {
      color: $civic-promo-card-dark-date-color;
    }

    #{$root}__title {
      color: $civic-promo-card-dark-heading-color;
    }

    #{$root}__title-link {
      color: $civic-promo-card-dark-heading-color;
      &:hover {
        color: $civic-promo-card-dark-color-accent;
      }
      &:active {
        color: $civic-promo-card-dark-color-active;
      }
    }

    #{$root}__summary,
    #{$root}__location {
      color: $civic-promo-card-dark-body-color;
    }

    #{$root}__tag {
      background-color: $civic-promo-card-dark-color-accent;
      color: $civic-promo-card-dark-tag-color;
    }

    #{$root}__icon {
      .civic-icon {
        fill: $civic-promo-card-dark-color-accent;
      }
    }
  }
}
