{% extends './content.twig' %}

{% block content %}

  {% include '@atoms/heading/heading.twig' with {
    level: 2,
    title: "This is content heading"
  } only %}

  <div class="civic-block">
    {% include '@atoms/heading/heading.twig' with {
      level: 23,
      title: "This is Promo card example",
    } only %}
    <div class="row">
      {% for i in 0..4  %}
        <div class="col-m-4">
          {% include '@molecules/promo-card/promo-card.twig' %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="civic-block">
    {% include '@atoms/heading/heading.twig' with {
      level: 23,
      title: "This is Events card example",
    } only %}
    <div class="row">
      {% for i in 0..4  %}
        <div class="col-m-4">
          {% include '@molecules/event-card/event-card.twig' with {
            with_image: true
          } %}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
