//
// Content.
//

.civic-content {
  &--content-left {
    > div {
      margin-bottom: civic-space(4);
    }
  }

  > div {
    margin-bottom: 2rem;
  }

  &--has-sidebar {
    .civic-card-container.civic-theme-light {
      background-color: transparent;
    }
  }
}
