//
// Styles.
//
// stylelint-disable scss/at-import-partial-extension

// Need to add variables outside of scoping class to avoid compilation errors for variables with !global flags.
@import '00-base/mixins';
@import '00-base/variables';

// Import color variables.
@import 'style.css_variables.scss';

// stylelint-disable no-invalid-position-at-import-rule
.ck-editor__editable {
  @import '00-base/**/!(*.stories|variables|_variables.*|reset).scss';

  // Load all non-stories mixins.
  @import '01-atoms/**/!(*.stories).scss';
  @import '02-molecules/**/!(*.stories).scss';
  @import '03-organisms/**/!(*.stories).scss';
  @import '04-templates/**/!(*.stories).scss';
  @import '05-pages/**/!(*.stories).scss';

  // Include civictheme content css styles for typography.
  @extend .ct-basic-content;
  @include ct-content();
  @include ct-content-light();

  // Custom styling to match the FE style in ckeditor5.
  ul, ol {
    margin-left: 0;
    margin-right: 0;

    li {
      list-style: none;

      .ck-list-bogus-paragraph {
        display: inline-block;
      }
    }
  }

  blockquote {
    border-left: none !important;
    font-style: normal !important;
    padding-left: rem(30px) !important;
    padding-right: rem(28px) !important;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    @include ct-typography('text-extra-large');
  }

  figure {
    &.table {
      width: 100%;
    }

    &.drupal-media {
      figcaption {
        display: block;
        padding: 0;
        caption-side: top;
        color: var(--ct-color-light-body);
        outline-offset: 0;
        background-color: transparent;
        font-size: rem(16px);
      }
    }
  }

  .table {
    table {
      border: none !important;

      td, th {
        border: none !important;
      }
    }
  }

  a:not(.ct-button) {
    @include ct-content-link-base();
  }
}
// stylelint-enable no-invalid-position-at-import-rule
