//
// Button.
//

@import '../../00-base/mixins';
@import '../../00-base/variables';

//
// Mixins.
//

@mixin civic-link-base () {
  color: civic-color('primary');

  &:hover {
    background-color: civic-color('primary');
    color: civic-color('white');
  }

  &:visited {
    color: civic-color('secondary');

    &:hover {
      background-color: civic-color('secondary');
      color: civic-color('white');
    }
  }
}

//
// Classes.
//

.civic-link {
  @include civic-link-base;
}
