//
// Navigation Link.
//

@import '../../00-base/base';

.civic-side-navigation-link {
  $root: &;
  padding: civic-space(2);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $civic-side-navigation-light-link-background;
  border-left: 4px solid $civic-side-navigation-light-link-marker;
  &__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &:hover {
    border-color: $civic-side-navigation-light-link-marker-active;
  }
  &--active {
    background-color: $civic-side-navigation-light-link-1-background-active;
    &#{$root}--level-2 {
      background-color: $civic-side-navigation-light-link-2-background-active;
    }
  }
  &__icon {
    color: $civic-side-navigation-light-link-icon;
  }
  &--active-child, &--level-2 {
    background-color: $civic-side-navigation-light-link-1-background-active;
  }
  &--level-2 {
    #{$root}__link {
      margin-left: civic-space(2);
    }
  }
  &.civic-theme-light {
    #{$root}__link, #{$root}__link:hover {
      text-decoration: none;
      background: none;
      color: $civic-side-navigation-light-link-color;
      border: none;
      padding: 0;
    }
  }
  &.civic-theme-dark {
    background-color: $civic-side-navigation-dark-link-background;
    border-color: $civic-side-navigation-dark-link-marker;
    &:hover {
      border-color: $civic-side-navigation-dark-link-marker-active;
    }
    #{$root}__icon {
      color: $civic-side-navigation-dark-link-icon;
    }
    &#{$root}--active {
      background-color: $civic-side-navigation-dark-link-1-background-active;
      &#{$root}--level-2 {
        background-color: $civic-side-navigation-dark-link-2-background-active;
      }
    }
    &#{$root}--active-child, &#{$root}--level-2 {
      background-color: $civic-side-navigation-dark-link-1-background-active;
    }
    #{$root}__link, #{$root}__link:hover {
      text-decoration: none;
      background: none;
      color: $civic-side-navigation-dark-link-color;
      border: none;
      padding: 0;
    }
  }
}
