//
// Password Indicator.
//

.civic-password-indicator {
  $root: &;

  &--weak {
    #{$root}__progress-bar {
      width: 25%;
      background-color: $civic-password-indicator-weak-color;
    }

    #{$root}__status {
      &::before {
        background-image: civic-color-svg-fill($civic-password-indicator-weak-icon, $civic-password-indicator-weak-color);
      }
    }
  }

  &--fair {
    #{$root}__progress-bar {
      width: 50%;
      background-color: $civic-password-indicator-fair-color;
    }

    #{$root}__status {
      &::before {
        background-image: civic-color-svg-fill($civic-password-indicator-weak-icon, $civic-password-indicator-fair-color);
      }
    }
  }

  &--good {
    #{$root}__progress-bar {
      width: 75%;
      background-color: $civic-password-indicator-good-color;
    }

    #{$root}__status {
      &::before {
        background-image: civic-color-svg-fill($civic-password-indicator-strong-icon, $civic-password-indicator-good-color);
      }
    }
  }

  &--strong {
    #{$root}__progress-bar {
      width: 100%;
      background-color: $civic-password-indicator-great-color;
    }

    #{$root}__status {
      &::before {
        background-image: civic-color-svg-fill($civic-password-indicator-strong-icon, $civic-password-indicator-great-color);
      }
    }
  }

  &__progress {
    width: 308px;
    height: 3px;
    background-color: $civic-password-indicator-progress-background-color;
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-mask-image: $civic-password-indicator-progress-mask;
    mask-image: $civic-password-indicator-progress-mask;
    margin-top: civic-space(2);
    position: relative;
  }

  &__progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    transition: 1s width, background-color;
  }

  &__status {
    @include civic-typography('label-small');

    margin-top: civic-space();

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
      margin-right: civic-space();
    }
  }

  &__message {
    @include civic-typography('label-small');

    padding: civic-space() 0;

    ul {
      margin: civic-space() 0;
      padding: 0;
      padding-left: civic-space(2);
    }
  }
}
