//
// Card Container component.
//

.ct-card-container {
  $root: &;

  &.ct-card-container--vertical-space-top {
    @include ct-component-with-vertical-space(top, $ct-card-container-space-vertical);
  }

  &.ct-card-container--vertical-space-bottom {
    @include ct-component-with-vertical-space(bottom, $ct-card-container-space-vertical);
  }

  &.ct-card-container--vertical-space-both {
    @include ct-component-with-vertical-space(both, $ct-card-container-space-vertical);
  }

  &--fill-width {
    [class*='col-'] {
      max-width: 100%;
      flex-grow: 1;
    }
  }

  &__card {
    display: flex;
    margin-bottom: ct-spacing(3);
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: ct-spacing(3);

    @include ct-breakpoint('m') {
      flex-direction: row;
    }
  }

  &__header-title {
    @include ct-typography('heading-3');

    @include ct-breakpoint('m') {
      margin-right: auto;
    }
  }

  &__header-link {
    @include ct-typography('label-regular');

    @include ct-breakpoint('m') {
      align-self: center;
      margin-left: auto;
    }
  }

  &__cards {
    // stylelint-disable-line block-no-empty
  }

  &__footer {
    display: flex;
    flex-direction: column;

    @include ct-breakpoint('m') {
      flex-direction: row;
    }
  }

  &__footer-link {
    @include ct-typography('label-regular');

    margin-top: ct-spacing(4);

    @include ct-breakpoint('m') {
      align-self: center;
      margin-left: auto;
    }
  }

  &__description {
    @include ct-typography('text-regular');

    margin-bottom: ct-spacing(3);
  }

  &--list {
    #{$root}__header-title {
      @include ct-typography('heading-5');

      padding: ct-spacing(3) 0 ct-spacing();
    }
  }

  &.ct-theme-light {
    color: $ct-card-container-light-color;

    &#{$root}--with-background {
      background-color: $ct-card-container-light-wrapper-background-color;
      padding-left: $ct-card-container-space-horizontal;
      padding-right: $ct-card-container-space-horizontal;
    }

    &#{$root}--with-spacing {
      background-color: $ct-card-container-light-background-color;
    }

    #{$root}__header-title {
      color: $ct-card-container-light-header-title-color;
    }
  }

  &.ct-theme-dark {
    color: $ct-card-container-dark-color;

    &#{$root}--with-background {
      background-color: $ct-card-container-dark-wrapper-background-color;
      padding-left: $ct-card-container-space-horizontal;
      padding-right: $ct-card-container-space-horizontal;
    }

    &#{$root}--with-spacing {
      background-color: $ct-card-container-dark-background-color;
    }

    #{$root}__header-title {
      color: $ct-card-container-dark-header-title-color;
    }
  }
}
