//
// Map component.
//

.ct-map {
  &.ct-map--vertical-space-top {
    @include ct-component-with-vertical-space(top, $ct-map-space-vertical);
  }

  &.ct-map--vertical-space-bottom {
    @include ct-component-with-vertical-space(bottom, $ct-map-space-vertical);
  }

  &.ct-map--vertical-space-both {
    @include ct-component-with-vertical-space(both, $ct-map-space-vertical);
  }

  &__canvas {
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0 ct-space() $ct-map-padding-bottom ct-space();

    iframe {
      position: absolute;
    }
  }

  &__links {
    display: flex;
    margin-top: ct-space(4);
    padding: 0 ct-space();

    @include ct-breakpoint-upto(s) {
      display: block;
    }
  }

  &__view_link {
    padding-right: ct-space(2);

    @include ct-breakpoint(m) {
      padding-right: ct-space(3);
    }
  }

  &.ct-theme-light {
    background-color: $ct-map-light-background-color;

    &.ct-map--with-background {
      background-color: $ct-map-light-wrapper-background-color;
      padding-left: $ct-map-space-horizontal;
      padding-right: $ct-map-space-horizontal;
    }
  }

  &.ct-theme-dark {
    background-color: $ct-map-dark-background-color;

    &.ct-map--with-background {
      background-color: $ct-map-dark-wrapper-background-color;
      padding-left: $ct-map-space-horizontal;
      padding-right: $ct-map-space-horizontal;
    }
  }
}
