//
// Card container.
//
@import '../../00-base/base';

.civic-card-container {
  $root: &;

  &.civic-theme-light {
    color: $civic-card-container-light-color;
  }

  &.civic-theme-dark {
    color: $civic-card-container-dark-color;
  }

  &--fill-width {
    [class*='col-'] {
      max-width: 100%;
      flex-grow: 1;
    }
  }

  &--with-spacing {
    padding-top: civic-space(6);
    padding-bottom: civic-space(6);

    &.civic-theme-light {
      background-color: $civic-card-container-light-background;
    }

    &.civic-theme-dark {
      background-color: $civic-card-container-dark-background;
    }
  }

  &__card {
    margin-bottom: civic-space(3);
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: civic-space(3);

    @include civic-breakpoint('m') {
      flex-direction: row;
    }
  }

  &__header-title {
    @include civic-typography('heading-3');

    @include civic-breakpoint('m') {
      margin-right: auto;
    }

    #{$root}.civic-theme-light & {
      color: $civic-card-container-light-heading-color;
    }

    #{$root}.civic-theme-dark & {
      color: $civic-card-container-dark-heading-color;
    }
  }

  &__header-link {
    @include civic-typography('label-regular');

    @include civic-breakpoint('m') {
      align-self: center;
      margin-left: auto;
    }
  }

  &__cards {
    // stylelint-disable-line block-no-empty
  }

  &__footer {
    display: flex;
    flex-direction: column;

    @include civic-breakpoint('m') {
      flex-direction: row;
    }
  }

  &__footer-link {
    @include civic-typography('label-regular');

    margin-top: civic-space(4);

    @include civic-breakpoint('m') {
      align-self: center;
      margin-left: auto;
    }
  }

  &__description {
    @include civic-typography('body');

    margin-bottom: civic-space(3);
  }
}
