//
// Field message component.
//

@use 'sass:color';

@mixin _civictheme-background-color-opacity($opacity ,$color) {
  background-color: rgba(color.red($color), color.green($color), color.blue($color), $opacity);
}

.civictheme-field-message {
  $root: &;

  display: block;
  border-radius: $civictheme-border-radius;
  padding: civictheme-space(0.5);

  @include civictheme-typography('text-regular');

  @each $type, $value in _civictheme-colors-all() {
    &--#{$type} {
      border: 1px solid civictheme-color($type);
      background-color: civictheme-color($type);

      &.civictheme-theme-light {
        @include _civictheme-background-color-opacity(10%, civictheme-color($type));
      }

      .civictheme-icon {
        vertical-align: text-top;
      }
    }
  }

  &.civictheme-theme-light {
    color: $civictheme-field-message-light-color;
  }

  &.civictheme-theme-dark {
    color: $civictheme-field-message-dark-color;
  }
}
