//
// Flex utilities.
//

.ct-flex-justify-content-start {
  display: flex;
  justify-content: flex-start;
}

.ct-flex-justify-content-center {
  display: flex;
  justify-content: center;
}

.ct-flex-justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.ct-flex-row-align-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.ct-flex-align-self-start {
  align-self: flex-start;
}

.ct-flex-align-self-center {
  align-self: center;
}

.ct-flex-align-self-end {
  align-self: flex-end;
}
