/*
  Overrides Claro layout for node form.
  @see https://www.drupal.org/project/drupal/issues/3184667
*/

@media screen and (min-width: 61rem) {
  .layout-region--node-main .layout-region__content,
  .layout-region--node-footer .layout-region__content {
    max-width: 100% !important;
  }

  .layout-region--node-secondary {
    margin-top: 0 !important;
  }
}

.js .layout-region--node-main .form-autocomplete {
  width: 100% !important;
}
