{% include '@organisms/table-of-contents/table-of-contents.twig' with {
  theme: theme,
  title: title,
  links: links,
  anchor_selector: 'h2',
  anchor_scope_selector: '.civic-table-of-contents-anchor-wrapper',
} only %}

<div class="civic-table-of-contents-anchor-wrapper">
  {% include '@molecules/basic-content/basic-content.twig' with {
    theme: theme,
    content: '
<h2>Section 1</h2>
<p>Commodo nostrud ea eu amet dolore labore qui tempor non ex laborum anim minim ut officia tempor anim amet ea cupidatat ea commodo laborum id dolore elit occaecat ea.</p>
<h2>Section 2</h2>
<p>Nisi pariatur et aute do incididunt elit ex culpa veniam adipisicing ex nostrud reprehenderit amet eiusmod irure in ullamco consequat pariatur aliqua dolore dolor nostrud dolor commodo non laborum aliqua ea nisi excepteur laboris.</p>
<h3>Sub section 2.1</h3>
<p>Anim ea sunt laborum sint enim et est nulla qui esse elit quis.</p>
<h2>Section 3</h2>
<p>Labore do id ut nostrud culpa id tempor ullamco nisi proident ut aliquip non nulla non dolore cupidatat aliquip sint velit officia adipisicing eiusmod ea nulla irure velit laboris et.</p>
'
  } only %}
</div>
