//
// Table of Contents component.
//

.ct-table-of-contents {
  $root: &;

  width: max-content;
  max-width: $ct-table-of-contents-width;

  &--position-before,
  &--position-prepend {
    margin-bottom: ct-space(4);
  }

  &--position-after,
  &--position-append {
    margin-top: ct-space(4);
  }

  &__title {
    @include ct-typography('heading-4');

    margin-top: 0;
    margin-bottom: ct-space(3);
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    @include ct-typography('text-small');

    display: block;
    position: relative;
    padding: ct-space() ct-space(2) ct-space() ct-space(2.5);
    border-top-width: 1px;
    border-bottom-width: 0;
    border-style: solid;
    text-decoration: none;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      width: rem(4px);
    }

    &:active {
      outline: 0 !important;
      border-radius: 0 $ct-table-of-contents-link-active-border-radius $ct-table-of-contents-link-active-border-radius 0;
    }

    &:focus {
      z-index: 1;
    }
  }

  &__link-item {
    &:last-child {
      #{$root}__link {
        border-bottom-width: 1px;
      }
    }
  }

  &.ct-theme-light {
    #{$root}__title {
      color: $ct-table-of-contents-light-title-color;
    }

    #{$root}__link {
      color: $ct-table-of-contents-light-link-color;
      border-color: $ct-table-of-contents-light-link-border-color;
      background-color: $ct-table-of-contents-light-link-background-color;

      &::before {
        background-color: $ct-table-of-contents-light-link-stripe-background-color;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: $ct-table-of-contents-light-link-hover-background-color;
        border-color: $ct-table-of-contents-light-link-hover-border-color;
        color: $ct-table-of-contents-light-link-hover-color;

        &::before {
          background-color: $ct-table-of-contents-light-link-hover-stripe-background-color;
        }
      }

      &:focus {
        @include ct-outline();
      }
    }
  }

  &.ct-theme-dark {
    #{$root}__title {
      color: $ct-table-of-contents-dark-title-color;
    }

    #{$root}__link {
      color: $ct-table-of-contents-dark-link-color;
      border-color: $ct-table-of-contents-dark-link-border-color;
      background-color: $ct-table-of-contents-dark-link-background-color;

      &::before {
        background-color: $ct-table-of-contents-dark-link-stripe-background-color;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: $ct-table-of-contents-dark-link-hover-background-color;
        border-color: $ct-table-of-contents-dark-link-hover-border-color;
        color: $ct-table-of-contents-dark-link-hover-color;

        &::before {
          background-color: $ct-table-of-contents-dark-link-hover-stripe-background-color;
        }
      }

      &:focus {
        @include ct-outline();
      }
    }
  }
}
