//
// Footer.
//

@import '../../00-base/base';

.civic-footer {
  $root: &;

  &__top {
    padding-top: civic-space(4);
    padding-bottom: civic-space(2);

    @include civic-breakpoint(m) {
      padding-top: civic-space(5);
      padding-bottom: civic-space(5);
      border-bottom: solid rem(1px) transparent;
    }
  }

  &__top__content-top1 {
  }

  &__top__content-top2 {
    @include civic-breakpoint-upto(m) {
      margin-top: civic-space(3);
    }
  }

  &__middle {
    padding-top: civic-space(2);
    padding-bottom: civic-space(2);

    @include civic-breakpoint(m) {
      padding-top: civic-space(5);
      padding-bottom: civic-space(5);
      border-bottom: solid rem(1px) transparent;
    }
  }

  &__middle__content-middle1 {
  }

  &__middle__content-middle2 {
  }

  &__middle__content-middle3 {
  }

  &__middle__content-middle4 {
  }

  &__bottom {
    padding-top: civic-space(2);
    padding-bottom: civic-space(4);

    @include civic-breakpoint(m) {
      padding-top: civic-space(5);
      padding-bottom: civic-space(5);
    }
  }

  &__bottom__content-bottom1 {
  }

  &__bottom__content-bottom2 {
    @include civic-breakpoint-upto(m) {
      margin-top: civic-space(3);
    }
  }

  &.civic-theme-light {
    background-color: $civic-footer-light-background-color;
    color: $civic-footer-light-color;

    #{$root}__top {
      @include civic-breakpoint('m') {
        border-color: $civic-footer-light-border-color;
      }
    }

    #{$root}__middle {
      @include civic-breakpoint('m') {
        border-color: $civic-footer-light-border-color;
      }
    }

    .civic-link,
    .civic-icon-link {
      background-color: transparent;
      color: $civic-footer-light-link-color;

      &:hover {
        color: $civic-footer-light-link-hover-color;
      }

      &:focus {
        outline-color: $civic-footer-light-outline-color;
      }
    }
  }

  &.civic-theme-dark {
    background-color: $civic-footer-dark-background-color;
    color: $civic-footer-dark-color;

    #{$root}__top {
      @include civic-breakpoint('m') {
        border-color: $civic-footer-dark-border-color;
      }
    }

    #{$root}__middle {
      @include civic-breakpoint('m') {
        border-color: $civic-footer-dark-border-color;
      }
    }

    .civic-link,
    .civic-icon-link {
      background-color: transparent;
      color: $civic-footer-dark-link-color;

      &:hover {
        color: $civic-footer-dark-link-hover-color;
      }

      &:focus {
        outline-color: $civic-footer-dark-outline-color;
      }
    }
  }

  &__logo {
    max-width: rem($civic-footer-logo-mobile-width);

    @include civic-breakpoint('m') {
      max-width: rem($civic-footer-logo-desktop-width);
    }
  }

  &__copyright {
    @include civic-breakpoint('m') {
      text-align: right;
    }
  }

  .civic-social-links {
    @include civic-breakpoint('m') {
      justify-content: flex-end;
    }
  }

  .civic-link-list {
    @include civic-breakpoint-upto(m) {
      margin-bottom: civic-space(3);
    }
  }

  [data-collapsible="true"] {
    [data-collapsible-trigger] {
      padding: civic-space(2) civic-space(1);
    }

    [data-collapsible-panel] {
      padding-left: civic-space(1);
      padding-right: civic-space(1);
    }

    &.civic-link-list {
      margin: 0;
    }

    .civic-link-list__title {
      @include civic-breakpoint-upto(m) {
        margin: 0;
      }
    }

    .civic-link-list__list__item {
      @include civic-breakpoint-upto(m) {
        margin-top: civic-space(2);
      }
    }
  }
}
