//
// Footer.
//

@import '../../00-base/base';

$footer-logo-desktop: 228px;
$footer-logo-mobile: 198px;

.civic-footer {
  $root: &;
  @include civic-typography('body');

  &__logo {
    img {
      max-width: rem($footer-logo-mobile);

      @include civic-breakpoint('m') {
        max-width: rem($footer-logo-desktop);
      }
    }
  }

  &__top {
    padding: civic-space(5) 0;

    &--right {
      @include civic-breakpoint-upto('m') {
        margin-top: civic-space(2);
      }
    }
  }

  &__middle {
    padding: civic-space(7) 0;
    border-top: solid rem(1px) transparent;
    border-bottom: solid rem(1px) transparent;

    li.civic-menu__item {
      margin-bottom: civic-space() * 1.5;
    }
  }

  &__bottom {
    padding: civic-space(5) 0 civic-space(2) 0;
  }

  .civic-link {
    border-bottom: solid 1px;

    &:hover {
      border-bottom-color: transparent;
    }
    &:focus, &:active {
      @include civic-outline();
    }
  }


  &.civic-theme-light {
    background-color: $civic-footer-light-background-color;
    color: $civic-footer-light-color;

    #{$root}__middle {
      border-color: $civic-footer-light-border-color;
    }

    .civic-link {
      background-color: transparent;
      color: $civic-footer-light-link-color;

      &:hover {
        color: $civic-footer-light-link-hover-color;
      }

      &:focus {
        outline-color: $civic-footer-light-outline-color;
      }
    }
  }

  &.civic-theme-dark {
    background-color: $civic-footer-dark-background-color;
    color: $civic-footer-dark-color;

    .civic-link {
      background-color: transparent;
      color: $civic-footer-dark-link-color;

      &:hover {
        color: $civic-footer-dark-link-hover-color;
      }

      &:focus {
        outline-color: $civic-footer-dark-outline-color;
      }
    }

    #{$root}__middle {
      border-color: $civic-footer-dark-border-color;
    }
  }
}
