{% extends './footer.twig' %}
{% import '../menu/menu.twig' as menus %}

{% block logo %}
	<div class="civic-footer__logo">
    <img src="{{ image.src }}" {% if image.alt is not empty %} alt="{{ image.alt }} {% endif %}">
  </div>
{% endblock %}

{% block top_right %}
	{% if socialLinks %}
	  <div class="civic-footer__top--right">
	  	<div class="civic-footer__social-links">
        {% include '@organisms/social-links/social-links.twig' with {
          theme: theme,
          links: [
            {
              symbol: 'brands_facebook',
              size: 'regular',
              url: 'www.facebook.com',
            },
            {
              symbol: 'brands_twitter',
              size: 'regular',
              url: 'www.facebook.com',
            },
            {
              symbol: 'brands_linkedin',
              size: 'regular',
              url: 'www.facebook.com',
            },
          ],
          with_border: true,
        } only %}
			</div>
	  </div>
	{% endif %}
{% endblock %}

{% block middle %}
  {% if showMiddleMenus %}
    <div class="civic-footer__middle">
    <div class="row">
      {% for i in 1..4 %}
        <div class="col-xs-12 col-m-3">
          {% include '@organisms/menu/menu.twig' with {
            theme: theme,
            items: [
              { title: 'For individuals', url: '#' },
              { title: 'For businesses', url: '#' },
              { title: 'For government', url: '#' },
              { title: 'Services', url: '#' },
              { title: 'News & events', url: '#' },
            ]
          } only %}
        </div>
      {% endfor %}
    </div>
    </div>
  {% endif %}
{% endblock %}

{% block bottom_left %}
	{% if copyright %}
		<p class="civic-footer__acknowledgement">{{ acknowledgement }}</p>
	{% endif %}
{% endblock %}

{% block bottom_right %}
  {% if copyright %}
		<p class="civic-footer__copyright">{{ copyright }}</p>
	{% endif %}
{% endblock %}



