//
// Footer.
//

@import '../../00-base/base';

.civic-footer {
  $root: &;
  @include civic-typography('body');

  &__logo {
    img {
      max-width: 100%;
    }
  }

  &__top {
    padding: civic-space(5) 0;
  }

  &__middle {
    padding: civic-space(7) 0;
    border-top: solid rem(1px) transparent;
    border-bottom: solid rem(1px) transparent;
  }

  &__bottom {
    padding: civic-space(5) 0 civic-space(2) 0;
  }

  &.civic-theme-light {
    background-color: $civic-footer-light-background-color;
    color: $civic-footer-light-color;

    #{$root}__middle {
      border-color: $civic-footer-light-border-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-footer-dark-background-color;
    color: $civic-footer-dark-color;

    #{$root}__middle {
      border-color: $civic-footer-dark-border-color;
    }
  }
}
