{% extends './footer.twig' %}

{% if logos is not empty %}
  {% set content_top1 %}
    {% include '@atoms/logo/logo.twig' with {
      'theme': theme == 'light' ? 'dark' : 'light',
      'logos': logos,
      'modifier_class': 'civic-footer__logo',
    } only %}
  {% endset %}
{% endif %}

{% if show_social_links %}
  {% set content_top2 %}
    {% include '@organisms/social-links/social-links.twig' with {
      'theme': theme,
      'links': [
        {
          symbol: 'brands_facebook',
          size: 'regular',
          url: 'www.facebook.com',
        },
        {
          symbol: 'brands_twitter',
          size: 'regular',
          url: 'www.facebook.com',
        },
        {
          symbol: 'brands_linkedin',
          size: 'regular',
          url: 'www.facebook.com',
        },
      ],
      'with_border': true,
    } only %}
  {% endset %}
{% endif %}

{% if show_middle_links %}
  {% set content_middle1 %}
    {% include '@molecules/link-list/link-list.twig' with {
      theme: theme,
      links: [
        { title: 'For individuals', url: '#' },
        { title: 'For businesses', url: '#' },
        { title: 'For government', url: '#' },
        { title: 'Services', url: '#' },
        { title: 'News & events', url: '#' },
      ],
    } only %}
  {% endset %}
  {% set content_middle2 %}
    {% include '@molecules/link-list/link-list.twig' with {
      theme: theme,
      title: 'About us',
      links: [
        { title: 'Our story', url: '#' },
        { title: 'Our team', url: '#' },
        { title: 'Contact us', url: '#' },
      ],
    } only %}
  {% endset %}
  {% set content_middle3 %}
    {% include '@molecules/link-list/link-list.twig' with {
      theme: theme,
      title: 'Help',
      links: [
        { title: 'Help and support', url: '#' },
        { title: 'Lodge a support ticket', url: '#' },
        { title: 'Contact us', url: '#' },
      ],
    } only %}
  {% endset %}
  {% set content_middle4 %}
    {% include '@molecules/link-list/link-list.twig' with {
      theme: theme,
      title: 'Services',
      links: [
        { title: 'Services for citizens', url: '#' },
        { title: 'Another external services', url: 'http://example.com', is_external: true },
        { title: 'Services for non-residents', url: '#' },
      ],
    } only %}
  {% endset %}
{% endif %}

{% if show_acknowledgement %}
  {% set content_bottom1 %}
    <div class="civic-footer__acknowledgement civic-text-regular">
      We acknowledge the traditional owners of the country throughout
      Australia
      and their continuing connection to land, sea and community. We pay our
      respect to them and their cultures and to the elders past and present.
    </div>
  {% endset %}

  {%- block content_bottom1 %}
    <div class="col-xs-12 col-m-7">
      <div class="civic-footer__bottom__content-bottom1">
        {{- content_bottom1 -}}
      </div>
    </div>
  {% endblock -%}
{% endif %}

{% if show_copyright %}
  {% set content_bottom2 %}
    <div class="civic-footer__copyright civic-text-regular">
      ©Commonwealth of Australia
    </div>
  {% endset %}

  {%- block content_bottom2 %}
    <div class="col-xs-12 col-m-5">
      <div class="civic-footer__bottom__content-bottom2">
        {{- content_bottom2 -}}
      </div>
    </div>
  {% endblock -%}
{% endif %}
