//
// CivicTheme Promo component.
//

.ct-promo {
  $root: &;

  &.ct-promo--vertical-space-top {
    @include ct-component-with-vertical-space(top, $ct-promo-space-vertical, $is_padding: false);
  }

  &.ct-promo--vertical-space-bottom {
    @include ct-component-with-vertical-space(bottom, $ct-promo-space-vertical, $is_padding: false);
  }

  &.ct-promo--vertical-space-both {
    @include ct-component-with-vertical-space(both, $ct-promo-space-vertical, $is_padding: false);
  }

  &__inner {
    padding: ct-space(3) 0;

    @include ct-breakpoint(m) {
      padding: ct-space(7) 0;
      display: flex;
      align-items: center;
    }
  }

  &__title {
    @include ct-typography('heading-4');

    margin-bottom: ct-space(1);
  }

  &__content {
    @include ct-typography('text-regular');

    box-sizing: border-box;
    margin-left: auto;
  }

  &__button {
    width: 100%;
    box-sizing: border-box;

    @include ct-breakpoint(m) {
      width: auto;
      white-space: nowrap;
    }
  }

  &__first-container {
    @include ct-breakpoint(m) {
      flex-grow: 1;
      padding-right: ct-space(5);
    }
  }

  &__second-container {
    margin-top: ct-space(3);

    @include ct-breakpoint(m) {
      margin-top: 0;
    }
  }

  &.ct-theme-light {
    background-color: $ct-promo-light-background-color;

    #{$root}__title {
      color: $ct-promo-light-heading-color;
    }

    #{$root}__content {
      color: $ct-promo-light-body-color;
    }
  }

  &.ct-theme-dark {
    background-color: $ct-promo-dark-background-color;

    #{$root}__title {
      color: $ct-promo-dark-heading-color;
    }

    #{$root}__content {
      color: $ct-promo-dark-body-color;
    }
  }
}
