//
// Navigation component.
//

.ct-navigation {
  @include ct-typography('text-regular');

  &__title {
    @include ct-typography('heading-5');

    margin-bottom: ct-spacing(2);
  }

  &__menu {
    &.ct-menu,
    .ct-menu {
      @include ct-print-hide();

      list-style: none;
      padding: 0;
      margin: 0;
    }

    .ct-menu__sub-menu {
      margin-top: ct-spacing(2);
    }

    .ct-menu__item {
      margin-bottom: ct-spacing(2);
      margin-left: ct-spacing(2);
    }

    &.ct-menu > .ct-menu__item {
      margin-left: 0;
    }
  }
}
