{#
/**
 * @file
 * CivicTheme Paragraph component.
 *
 * Props:
 * - theme: [string] Theme variation (light or dark).
 * - content: [string] Paragraph content.
 * - size: [string] Paragraph size (extra-large, large, regular, small).
 * - no_margin: [boolean] Disable default margin.
 * - attributes: [Drupal\Core\Template\Attribute] Additional HTML attributes.
 * - modifier_class: [string] Additional CSS classes.
 */
#}

{% set size_class = 'ct-paragraph--%s'|format(size|default('regular')) %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set no_margin_class = no_margin ? 'ct-paragraph--no-margin' : '' %}
{% set modifier_class = '%s %s %s %s'|format(theme_class, size_class, no_margin_class, modifier_class|default('')) %}

{% if content is not empty -%}
  <div class="ct-paragraph {{ modifier_class -}}" {% if attributes is defined and attributes is not null %}{{- attributes -}}{% endif %}>
    {{- content -}}
  </div>
{%- endif %}
