{#
/**
 * @file
 * Demo Button component.
 *
 * Demonstration of adding a new atom-level component.
 *
 * This component is completely isolated from CivicTheme's Button component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - text: [string] Button text.
 * - disabled: [boolean] Disabled state.
 * - modifier_class: [string] Classes to modify the default component styling.
 */
#}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}
<button class="ct-button ct-button--primary {{ modifier_class }}" data-component-name="demo-button" {{ disabled ? 'disabled' }}>Example button: {{ text }}</button>
