name: PR Commands

on:
  issue_comment:
    types: [created]

jobs:
  pr-commands:
    uses: salsadigitalauorg/salsa-hosting-workflows/.github/workflows/pr-commands.yml@v0.0.13
    secrets:
      hosting-api-key: ${{ secrets.QUANT_API_KEY }}
      hosting-org-name: ${{ secrets.QUANT_ORGANIZATION }}
