//
// Elevation stories.
//

@use 'sass:string';

.story-elevation-wrapper {
  display: flex;
  flex-flow: row wrap;

  @include ct-generate-class-variations-from-map($ct-elevations, 'story-elevation') using($key, $value, $index) {
    width: 150px;
    height: 150px;
    margin: ct-space(6) ct-space(10) 100px 0;
    border-radius: ct-space(0.5);
    position: relative;
    background-color: white;

    @include ct-elevation($key);
  }
}
