//
// Breadcrumb component.
//

.ct-breadcrumb {
  $root: &;

  @include ct-typography('label-small');

  &__links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;

    &--link {
      margin-right: ct-spacing();
      display: flex;
      align-items: center;

      @include ct-breakpoint-upto('m') {
        display: none;
      }

      &.mobile-only {
        display: none;

        @include ct-breakpoint-upto('m') {
          display: flex;
        }
      }
    }

    &.mobile-only {
      display: none;

      @include ct-breakpoint-upto('m') {
        display: flex;
      }
    }
  }

  .ct-link {
    @include ct-typography('label-small');

    padding: 0;

    &:hover {
      padding: 0;
    }
  }

  &.ct-theme-light {
    .ct-icon {
      fill: $ct-breadcrumb-light-divider-color;
    }
  }

  &.ct-theme-dark {
    .ct-icon {
      fill: $ct-breadcrumb-dark-divider-color;
    }
  }
}
