//
// Breadcrumb component.
//

.ct-breadcrumb {
  $root: &;

  @include ct-typography('label-small');

  &__links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;

    @include ct-breakpoint-upto('m') {
      display: none;
    }

    [aria-current='location'] {
      @include ct-typography('label-small');
    }

    &--link {
      margin-right: ct-spacing();
      display: flex;
      align-items: center;

      @include ct-breakpoint-upto('m') {
        display: none;
      }

      &.mobile-only {
        display: none;

        @include ct-breakpoint-upto('m') {
          display: flex;
        }
      }
    }

    .ct-item-list__list__item {
      display: flex;
      margin-right: ct-spacing(0.5) !important;

      &:not(:last-child) {
        &::after {
          background-size: contain;
          background-position: center;
          content: '';
          display: block;
          width: ct-spacing(2.5);
          height: ct-spacing(2.5);
          margin-left: ct-spacing(0.5);
        }

        @include ct-breakpoint-upto('m') {
          &::after {
            display: none;
          }
        }
      }
    }

    &.mobile-only {
      display: none;

      @include ct-breakpoint-upto('m') {
        display: flex;
      }
    }
  }

  .ct-link {
    @include ct-typography('label-small');

    padding: 0;

    &:hover {
      padding: 0;
    }
  }

  &.ct-theme-light {
    .ct-icon {
      fill: $ct-breadcrumb-light-divider-color;
    }

    [aria-current='location'] {
      color: $ct-breadcrumb-light-color;

      &:hover {
        color: $ct-breadcrumb-light-color;
        text-decoration: underline;
      }
    }

    .ct-item-list__list__item {
      &:not(:last-child) {
        &::after {
          content: ct-color-svg-fill($ct-breadcrumb-delimiter-icon, $ct-breadcrumb-light-divider-color);
        }
      }
    }
  }

  &.ct-theme-dark {
    .ct-icon {
      fill: $ct-breadcrumb-dark-divider-color;
    }

    [aria-current='location'] {
      color: $ct-breadcrumb-dark-color;

      &:hover {
        color: $ct-breadcrumb-dark-color;
        text-decoration: underline;
      }
    }

    .ct-item-list__list__item {
      &:not(:last-child) {
        &::after {
          content: ct-color-svg-fill($ct-breadcrumb-delimiter-icon, $ct-breadcrumb-dark-divider-color);
        }
      }
    }
  }
}
