{#
/**
 * @file
 * Breadcrumb component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - links: [array] Array of link objects containing:
 *   - text: [string] Link text.
 *   - url: [string] Link URL.
 * - active_is_link: [boolean] Show active element as a link.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if links %}
  {% set links_count = links|length %}
  {% set parent = false %}

  <nav class="civictheme-breadcrumb {{ modifier_class }}" {{ attributes }} aria-label="breadcrumb">
    {% set link_items = [] %}
    {% for key, link in links %}
      {% set link_item %}
        {% set link = {
          theme: theme,
          attributes: loop.index == links_count ? 'aria-current="location"' : '',
          modifier_class: 'civictheme-breadcrumb__links__link',
        } | merge(link) %}
        {% if not active_is_link and (loop.index == links_count) %}
          <span aria-current="location">{{ link.text }}</span>
        {% else %}
          {% include '@atoms/link/link.twig' with link only %}
        {% endif %}
      {% endset %}
      {% if loop.index == links_count - 1 %}
        {% set parent = link %}
      {% endif %}
      {% set link_items = link_items|merge([ link_item ]) %}
    {% endfor %}

    {% if parent %}
      {% set parent_link_item %}
        {% include '@base/icon/icon.twig' with {
          symbol: 'left-arrow',
        } only %}
        {% include '@atoms/link/link.twig' with parent only %}
      {% endset %}
      {% include '@base/item-list/item-list.twig' with {
        direction: 'horizontal',
        items: [parent_link_item],
        modifier_class: 'civictheme-breadcrumb__links mobile-only',
      } only %}
    {% endif %}

    {% include '@base/item-list/item-list.twig' with {
      direction: 'horizontal',
      items: link_items,
      modifier_class: 'civictheme-breadcrumb__links',
    } only %}
  </nav>
{% endif %}
